.tower#faq
    .faqDecor
        include ../svg/faqDecor.svg
    .faqBg
        include ../svg/faqBg.svg
    .subTower
        .faqLink.flex.center.beetwen
            .sectionTitle участникам
            .faqMenuItem.flex.left
                .menuItemBox
                a.menuItemText( href="/participants/"+lang) ИНФОРМАЦИЯ ДЛЯ УЧАСТНИКОВ
        .faqItemsWr
            .faqItemsBox
                .faqItems.flex.center.beetwen
                        .faqItem
                            .faqTitle Условия участия
                            .faqText
                                ul
                                    li Очное участие
                                    li Оргкомитет подтверждает участие
                                    li Стоимость участия - 150&nbsp;000&nbsp;руб.
                            a.newsButton.flex.center( href="/participants/"+lang+"/#uslovia")
                                include ../svg/arrowRightRed.svg
                        .faqItem
                            .faqTitle Как стать участником
                            .faqText
                                ul
                                    li
                                        a(href="/registration/"+lang) Подать заявку
                                    li Получить подтверждение
                                    li Оплатить участие
                                    li Посетить Конгресс
                            a.newsButton.flex.center( href="/participants/"+lang)
                                include ../svg/arrowRightRed.svg
                        .faqItem
                            .faqTitle Аккредитация СМИ
                            .faqText
                                ul
                                    li
                                        a(href="/smi/"+lang) Подать заявку
                                    li Получить подтверждение
                                    li <a href='mailto:info@ifcongress.ru'>Направить</a> в пресс-службу запрос на интервью
                            a.newsButton.flex.center( href="/participants/"+lang+"/#smi")
                                include ../svg/arrowRightRed.svg
                        .faqItem
                            .faqTitle Личный кабинет
                            .faqText
                                ul
                                    li Информация и новости
                                    li Транcферы
                                    li Бронирование отелей
                                    li Документооборот

                            a.newsButton.flex.center( href="/personal/")
                                include ../svg/arrowRightRed.svg

