.tower#faq
    .faqDecor
        include ../svg/faqDecor.svg
    .faqBg
        include ../svg/faqBg.svg
    .subTower
        .flex.center.beetwen
            .sectionTitle участникам
            .faqMenuItem.flex.left
                .menuItemBox
                .menuItemText ИНФОРМАЦИЯ ДЛЯ УЧАСТНИКОВ
        .faqItems.flex.center.beetwen
                .faqItem
                    .faqTitle КАК ПОЛУЧИТЬ ДОКУМЕНТЫ ОБ УЧАСТИИ ДЛЯ БУХГАЛТЕРИИ?
                    .faqText Организационный комитет производит рассылку оригиналов документов по почте. Если вы не получите документы в течение 2 недель после окончания форума, пожалуйста, напишите нам об этом на адрес info@ifcongress.ru, указав адрес для отправки.
                .faqItem
                    .faqTitle КАК ПОЛУЧИТЬ ВИДЕОЗАПИСИ СЕССИЙ ФОРУМА?
                    .faqText Видеозапись панельной дискуссии «Противодействие мошенничеству и социальной инженерии» доступна на сайте форума.<br><br>Публикация видеозаписей остальных сессий не предполагается.
                .faqItem
                    .faqTitle КАК СТАТЬ ПАРТНЕРОМ ФОРУМА И СПИКЕРОМ В СЛЕДУЮЩЕМ ГОДУ?
                    .faqText Присылайте заявки на выступление и партнерство на электронную почту Организационного комитета <a href="mailto:info@ifcongress.ru">info@ifcongress.ru</a> и активно взаимодействуйте с Банком России в течение года в рамках рабочих групп и иных мероприятий.
                .faqItem
                    .faqTitle КАК ПОЛУЧИТЬ ДОКУМЕНТЫ ОБ УЧАСТИИ ДЛЯ БУХГАЛТЕРИИ?
                    .faqText Организационный комитет производит рассылку оригиналов документов по почте. Если вы не получите документы в течение 2 недель после окончания форума, пожалуйста, напишите нам об этом на адрес info@uralcyberfin.ru, указав адрес для отправки.

