.tower#faq
    .faqDecor
        include ../svg/faqDecor.svg
    .faqBg
        include ../svg/faqBg.svg
    .subTower
        .faqLink.flex.center.beetwen
            .sectionTitle участникам
            .faqMenuItem.flex.left
                .menuItemBox
                .menuItemText ИНФОРМАЦИЯ ДЛЯ УЧАСТНИКОВ
        .faqItemsWr
            .faqItemsBox
                .faqItems.flex.center.beetwen
                        .faqItem
                            .faqTitle Условия участия
                            .faqText
                                ul
                                    li Очное участие
                                    li Оргкомитет подтверждает участие
                                    li Стоимость участия - XXXXXX руб.
                            .newsButton.flex.center
                                include ../svg/arrowRightRed.svg
                        .faqItem
                            .faqTitle Как стать участником
                            .faqText
                                ul
                                    li
                                        a(href="/registration/"+lang) Подать заявку
                                    li Получить подтверждение
                                    li Оплатить участие
                                    li Посетить конгресс
                            .newsButton.flex.center
                                include ../svg/arrowRightRed.svg
                        .faqItem
                            .faqTitle Аккредитпция СМИ
                            .faqText
                                ul
                                    li
                                        a(href="/smi/"+lang) Подать заявку
                                    li Получить подтверждение
                                    li <a href='info@ifcongress.ru'>Направить</a> в пресс-службу запрос на интервью
                            .newsButton.flex.center
                                include ../svg/arrowRightRed.svg
                        .faqItem
                            .faqTitle Личный кабинет
                            .faqText
                                ul
                                    li Информация и новости
                                    li Бронирование отелей
                                    li Документооборот

                            .newsButton.flex.center
                                include ../svg/arrowRightRed.svg

