.tower#footer
    .footerWr.flex.center
        .footerItem
            include ../svg/footerLogo.svg
        .footerItem.centerfooterItem
            .footerItemRow <a href="mailto:INFO@IFCONGRESS.RU">INFO@IFCONGRESS.RU</a><br><a href="tel:8 800 300-69-23">8 800 300-69-23</a>
            .footerItemRow.footerItemRowLink(onclick="window.open('/static/key/?pers"+lang+"open=open')") ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ
            .footerItemRow © 2023 ВСЕ ПРАВА ЗАЩИЩЕНЫ ООО «ЭФФЕКТКОММ» <br>ИНН 7716792536

        .footerItem(style="text-align: right;")
            include ../svg/brLogo.svg
