.videoWr
    video#player.videoWrContent.video-js.vjs-big-play-centered.vjs-show-big-play-button-on-pause( width="1280" height="720" controls="controls" playsinline)
        source(src=src type="video/mp4")
