.langSelector.desctop
    if ru
        a.langSelectorItem.active(href="ru") RUS
        a.langSelectorItem(href="en") ENG
    else
        a.langSelectorItem(href="ru") RUS
        a.langSelectorItem.active(href="en") ENG
