.mainMenuGroup
    if ru
        .mainMenuItem(onclick="document.location.href='/news/"+lang+"'") Новости
    else
        .mainMenuItem(onclick="document.location.href='/news/"+lang+"'") News

    if ru
        .mainMenuItem(onclick="clickMenuItem('#place','/ru/#place')") Площадка
    else
        .mainMenuItem(onclick="clickMenuItem('#place','/en/#place')") VENUE
    if ru
        .mainMenuItem(onclick="clickMenuItem('#partners','/ru#partners')") Партнеры
    else
     .mainMenuItem(onclick="clickMenuItem('#partners','/en#partners')") Partners

    if ru
        .mainMenuItem(onclick="document.location.href='/participants/"+lang+"'") Участникам
    else
        .mainMenuItem(onclick="document.location.href='/participants/"+lang+"'") PARTICIPANT AREA


.mainMenuGroup
    if ru
        a.mainMenuItem(href="/programme/"+lang) Программа
    else
        a.mainMenuItem(href="/programme/"+lang) Programme
    if test
        a.mainMenuItem(href="/speakers/"+lang) Спикеры
