#mainPage
    .tower
        img(src="/static/images/01_main_1904.jpg")

        //.mainImageWr
            .mainImage
                .mobileMenuBtn.mobile(onclick="showMobileMenu()")
                    include ../svg/mobileMenuBtn.svg
                include mainTitle


            .mainDecor
                include ../svg/mainpoloski.svg
            .mainMenu.flex.left
                include mainMenuItems
            .menu.vtoroe.desktop
                include menuItems




