#mainPage
    .tower
        .mainImageWr
            .mainImage
                .mainTitle.flex.center
                    .mainLogo
                        include ../svg/mainlogo.svg
                    h1 ФИНАНСОВЫЙ<br>КОНГРЕСС<br>БАНКА&nbsp;РОССИИ
                    h2 6-7 июля 2023<br>Санкт-петербург
            .mainDecor
                include ../svg/mainpoloski.svg
            .mainMenu.flex.left
                .mainMenuGroup
                    .mainMenuItem Новости
                    .mainMenuItem Патнеры
                    .mainMenuItem Участникам

                .mainMenuGroup
                    .mainMenuItem Программа
                    .mainMenuItem Спикеры



