.mainMenuGroup
    .mainMenuItem(onclick="document.location.href='/news/"+lang+"'") Новости
    .mainMenuItem(onclick="clickMenuItem('#place','/demo/#place')") Площадка
    .mainMenuItem(onclick="document.location.href='/participants/"+lang+"'") Участникам

.mainMenuGroup
    a.mainMenuItem(href="/programme/"+lang) Программа
    a.mainMenuItem(href="/speakers/"+lang) Спикеры
