#mainPage
    .tower#mainPageTower
        .mainImageWr
            .mainImage
                .mobileMenuBtn.mobile(onclick="showMobileMenu()")
                    include ../svg/mobileMenuBtn.svg
                include mainTitle
                .menu.vtoroe
                    include menuItems

            .mainDecor
                include ../svg/mainpoloski.svg
            .mainMenu.flex.left
                include mainMenuItems




