.mainMenuGroup
    .mainMenuItem(onclick="document.location.href='/news/"+lang+"'") Новости
    .mainMenuItem(onclick="clickMenuItem('#partners','/demo/#partners')") Партнеры
    .mainMenuItem(onclick="clickMenuItem('#participants','/demo/#participants');") Участникам

.mainMenuGroup
    a.mainMenuItem(href="/programme/"+lang) Программа
    a.mainMenuItem(href="/speakers/"+lang) Спикеры
