#mainPage
    .tower
        .mainImg2Wr.desktop
            img.mainImg2(src="/static/images/01_main_1904.jpg" width="1800" height="948")
            include mainTitle
            .mainMenu
                include mainMenuItems
            .menu.desktop
                include menuItems

        .mainImageWr.mobile
            img.mainImg2(src="/static/images/mainImageMobile.png")

            include mainTitle
            .mobileMenuBtn.mobile(onclick="showMobileMenu()")
                include ../svg/mobileMenuBtn.svg





