.mainTitle.flex.center
    .mainLogo
        include ../svg/mainlogo.svg
    .h1Wr.flex
        if ru
            h1 ФИНАНСОВЫЙ<br>КОНГРЕСС<br>БАНКА&nbsp;РОССИИ
        else
            h1 FINANCIAL<br>CONGRESS<br>OF&nbsp;THE&nbsp;BANK<br>OF&nbsp;RUSSIA
if !test
    if ru
        h2.desktop 6-7 июля 2023<br>Санкт-Петербург
        h2.mobile 6-7 июля 2023<br>Санкт-Петербург
    else
        h2.desktop 6–7 JULY 2023<br>ST. PETERSBURG
        h2.mobile 6–7 JULY 2023<br>ST. PETERSBURG
else
    .playBtnWr
        if ru

            h2.desktop 6-7 июля 2023<br>Санкт-Петербург
            h2.mobile 6-7 июля 2023<br>Санкт-Петербург
        else
            h2.desktop 6–7 JULY 2023<br>ST. PETERSBURG
            h2.mobile 6–7 JULY 2023<br>ST. PETERSBURG
        .liveBtn2
            <svg width="236" height="48" viewBox="0 0 236 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_664_848)">
            <path d="M235 -1H47V47H235V-1Z" fill="#E39A3F"/>
            <path d="M66.063 16.686V15.3H78.054V16.686H72.804V30H71.313V16.686H66.063ZM82.0681 30H80.5771V15.3H85.8691C90.7621 15.3 91.8331 17.589 91.8331 19.794C91.8331 22.104 90.3001 24.33 85.8481 24.33H82.0681V30ZM85.9741 16.665H82.0681V22.965H85.8061C88.9561 22.965 90.3001 21.663 90.3001 19.773C90.3001 17.967 89.1451 16.665 85.9741 16.665ZM92.1883 30L98.6353 15.258H99.8533L106.3 30H104.746L102.961 25.968H95.4223L93.7003 30H92.1883ZM99.2023 17.232L96.0313 24.624H102.415L99.2023 17.232ZM119.756 30V23.217H110.306V30H108.815V15.3H110.306V21.831H119.756V15.3H121.247V30H119.756ZM136.81 26.766L137.65 27.732C136.6 29.16 134.437 30.189 132.106 30.189C127.444 30.189 124.504 27.228 124.504 22.65C124.504 18.429 127.339 15.111 131.896 15.111C134.521 15.111 136.474 16.224 137.419 17.442L136.516 18.387C135.298 17.232 134.038 16.518 131.854 16.518C128.2 16.518 126.037 19.08 126.037 22.65C126.037 26.346 128.494 28.782 132.169 28.782C134.353 28.782 135.823 27.879 136.81 26.766ZM150.126 30V16.665H143.217V19.248C143.217 27.438 141.117 30.084 139.227 30.063C138.933 30.063 138.639 30.063 138.471 30V28.572C139.899 28.572 141.726 27.753 141.726 18.324V15.3H151.617V30H150.126ZM165.185 30V24.372H160.796L156.092 30H154.265L159.179 24.162C156.743 23.742 155.231 22.125 155.231 19.815C155.231 17.337 157.016 15.3 160.922 15.3H166.676V30H165.185ZM160.313 22.986H165.185V16.665H160.733C157.898 16.665 156.806 18.093 156.806 19.878C156.806 21.516 158.045 22.776 160.313 22.986ZM170.745 30V15.3H172.236V28.614H181.119V15.3H182.61V28.614H184.521V32.751H183.114V30H170.745ZM188.472 30H187.191V15.3H188.682V27.48L198.153 15.3H199.455V30H197.964V17.82L188.472 30ZM213.006 30V24.372H208.617L203.913 30H202.086L207 24.162C204.564 23.742 203.052 22.125 203.052 19.815C203.052 17.337 204.837 15.3 208.743 15.3H214.497V30H213.006ZM208.134 22.986H213.006V16.665H208.554C205.719 16.665 204.627 18.093 204.627 19.878C204.627 21.516 205.866 22.776 208.134 22.986Z" fill="white"/>
            <path d="M47.7 0H0V47.7H47.7V0Z" fill="#BB3E3F"/>
            <path d="M23.8996 27.3998C26.5506 27.3998 28.6996 25.2508 28.6996 22.5998C28.6996 19.9488 26.5506 17.7998 23.8996 17.7998C21.2486 17.7998 19.0996 19.9488 19.0996 22.5998C19.0996 25.2508 21.2486 27.3998 23.8996 27.3998Z" fill="white"/>
            <path d="M16.2992 30.3C11.9992 26 11.9992 19.2 16.2992 15" stroke="white" stroke-width="2.3845" stroke-miterlimit="10"/>
            <path d="M31.5996 15C35.7996 19.2 35.7996 26.1 31.5996 30.3" stroke="white" stroke-width="2.3845" stroke-miterlimit="10"/>
            <path d="M12.3 34.2C5.9 27.8 5.9 17.4 12.3 11" stroke="white" stroke-width="2.3845" stroke-miterlimit="10"/>
            <path d="M35.5 11C41.9 17.4 41.9 27.8 35.5 34.2" stroke="white" stroke-width="2.3845" stroke-miterlimit="10"/>
            </g>
            <defs>
            <clipPath id="clip0_664_848">
            <rect width="235.1" height="47.7" fill="white"/>
            </clipPath>
            </defs>
            </svg>




