.mainMenuGroup
    .mainMenuItem(onclick="clickMenuItem("#news","/news")") Новости
    .mainMenuItem(onclick="closeMobileMenu();partners.scrollIntoView({behavior:'smooth'})") Патнеры
    .mainMenuItem(onclick="closeMobileMenu();faq.scrollIntoView({behavior:'smooth'})") Участникам

.mainMenuGroup
    .mainMenuItem Программа
    a.mainMenuItem(href="/speakers") Спикеры
