.mainMenuGroup
    .mainMenuItem(onclick="closeMobileMenu();news.scrollIntoView({behavior:'smooth'})") Новости
    .mainMenuItem(onclick="closeMobileMenu();partners.scrollIntoView({behavior:'smooth'})") Патнеры
    .mainMenuItem(onclick="closeMobileMenu();faq.scrollIntoView({behavior:'smooth'})") Участникам

.mainMenuGroup
    .mainMenuItem Программа
    .mainMenuItem Спикеры
