.mainTitle.flex.center
    .mainLogo
        include ../svg/mainlogo.svg
    .h1Wr.flex
        h1 ФИНАНСОВЫЙ<br>КОНГРЕСС<br>БАНКА&nbsp;РОССИИ
        h2.desktop 6-7 июля 2023 Санкт-петербург
h2.mobile 6-7 июля 2023<br>Санкт-петербург
