.mainMenuGroup
    .mainMenuItem(onclick="document.location.href='/news/"+lang+"'") Новости
    .mainMenuItem(onclick="clickMenuItem('#place','/demo/#place')") Площадка
    .mainMenuItem(onclick="document.location.href='/participants/"+lang+"'") Участникам

.mainMenuGroup
    if ru
        a.mainMenuItem(href="/programme/"+lang) Программа
    else
        a.mainMenuItem(href="/programme/"+lang) Programme
    //a.mainMenuItem(href="/speakers/"+lang) Спикеры
