.mainMenuGroup
    .mainMenuItem(onclick="clickMenuItem('#news','/news', lang)") Новости
    .mainMenuItem(onclick="clickMenuItem('#partners','/demo/#partners')") Партнеры
    .mainMenuItem(onclick="clickMenuItem('#faq','/demo/#faq')") Участникам

.mainMenuGroup
    a.mainMenuItem(href="/programme") Программа
    a.mainMenuItem(href="/speakers") Спикеры
