.mainMenuGroup
    .mainMenuItem(onclick="clickMenuItem('#news','/news', lang)") Новости
    .mainMenuItem(onclick="clickMenuItem('#partners','/demo/#partners')") Партнеры
    .mainMenuItem(onclick="document.location.href='/participants/"+lang+"'") Участникам

.mainMenuGroup
    a.mainMenuItem(href="/programme/"+lang) Программа
    a.mainMenuItem(href="/speakers/"+lang) Спикеры
