.menuItem.flex.center.left
    .menuItemBox
    .menuItemText ЗАЯВКА НА УЧАСТИЕ
.menuItem.flex.center.left
    .menuItemBox
    .menuItemText Аккредитация СМИ
.menuItem.flex.center.left
    .menuItemBox
    .menuItemText Личный кабинет
