a.menuItem.flex.center.left(href="/photos/"+lang)
    .menuItemBox
    if ru
        .menuItemText ФОТОГРАФИИ
    else
        .menuItemText  PHOTOS
//a.menuItem.flex.center.left(href="/smi/"+lang)
    .menuItemBox
    if ru
        .menuItemText Аккредитация СМИ
    else
        .menuItemText MEDIA&nbsp;ACCREDITATION
//a.menuItem.flex.center.left(href="/personal/"+lang)
    .menuItemBox
    if ru
        .menuItemText Личный кабинет
    else
        .menuItemText PERSONAL ACCOUNT
a.menuItem.flex.center.left(href="/personal/"+lang style="display:none")
