a.menuItem.flex.center.left(href="/registration/"+lang)
    .menuItemBox
    .menuItemText ЗАЯВКА НА УЧАСТИЕ
a.menuItem.flex.center.left(href="/smi/"+lang)
    .menuItemBox
    .menuItemText Аккредитация СМИ
.menuItem.flex.center.left
    .menuItemBox
    .menuItemText Личный кабинет
