//a.menuItem.flex.center.left(href="/registration/"+lang)
    .menuItemBox
    if ru
        .menuItemText ЗАЯВКА НА УЧАСТИЕ
    else
        .menuItemText  APPLICATION FORM
//a.menuItem.flex.center.left(href="/smi/"+lang)
    .menuItemBox
    if ru
        .menuItemText Аккредитация СМИ
    else
        .menuItemText MEDIA&nbsp;ACCREDITATION
//a.menuItem.flex.center.left(href="/personal/"+lang)
    .menuItemBox
    if ru
        .menuItemText Личный кабинет
    else
        .menuItemText PERSONAL ACCOUNT
a.menuItem.flex.center.left(href="/personal/"+lang style="display:none")
