.tower#news
    .newsBlockDecor
        include ../svg/newsBlockDecor.svg
    .subTower.mt-4
        .newsItemsBox
            .newsItems.flex.center.beetwen
                each n in news
                    .newsItem
                        .newsDate #{n.date}
                        .newsTitle #{n.title}
                        .newsDecor
                            include ../svg/newsDecor.svg
                        .newsText #{n.lid}
                        .newsButton.flex.center
                            include ../svg/arrowRightRed.svg



