.tower#news
    .newsBlockDecor
        include ../svg/newsBlockDecor.svg
    .subTower.mt-4
        .newsItemsBox
            .newsItems.flex.center.beetwen
                .newsItem
                    .newsDate 01.04.2023
                    .newsTitle Финансовый конгресc Банка&nbsp;России пройдет 6-7 июля 2023 года
                    .newsDecor
                        include ../svg/newsDecor.svg
                    .newsText Организационный комитет приглашает направить заявки на участие в Конгрессе через форму на сайте.
                    .newsButton.flex.center
                        include ../svg/arrowRightRed.svg
                .newsItem
                    .newsDate 01.04.2023
                    .newsTitle Открыта регистрация на Финансовый конгресс Банка&nbsp;России 2023
                    .newsDecor
                        include ../svg/newsDecor.svg
                    .newsText В 2023 году ежегодный Финансовый конгресс Банка России вновь пройдет в очном формате.
                    .newsButton.flex.center
                        include ../svg/arrowRightRed.svg
                .newsItem
                    .newsDate 01.04.2023
                    .newsTitle Опубликована предварительная деловая программа Финансового конгресса Банка&nbsp;России
                    .newsDecor
                        include ../svg/newsDecor.svg
                    .newsText Деловая программа Конгресса состоит из 27 сессий...
                    .newsButton.flex.center
                        include ../svg/arrowRightRed.svg
                .newsItem
                    .newsDate 01.04.2023
                    .newsTitle Финансовый конгресс Банка&nbsp;России пройдет 6-7 июля 2023 года
                    .newsDecor
                        include ../svg/newsDecor.svg
                    .newsText В 2023 году ежегодный Финансовый конгресс Банка&nbsp;России вновь пройдет в очном формате.
                    a.newsButton.flex.center(href="/news/#"+111)
                        include ../svg/arrowRightRed.svg


