.tower#partners
    .subTower
        .partnersDecor
            include ../svg/partnersDecor.svg
        .sectionTitle партнеры
        .partnersBox
            img.desktop(src="/static/images/partners_tmp.png" loading="lazy")
            img.mobile(src="/static/images/partners_tmp_mobile.png" loading="lazy")
