.tower#partners
    .subTower
        .partnersDecor
            include ../svg/partnersDecor.svg
        .sectionTitle партнеры
        .partnersBox
                .generalPartner.partner
                    include ../partners/vtb.svg
                .generalPartner.partner
                    include  ../partners/generalPartner.svg
                .oficialPartner.partner
                    include  ../partners/oficialPartner.svg
                .oficialPartner.partner
                    include  ../partners/oficialPartner.svg
                .oficialPartner.partner
                    include  ../partners/oficialPartner.svg
                .oficialPartner.partner
                    include  ../partners/oficialPartner.svg
                .ordinaryPartner.partner
                    include  ../partners/ordynaryPartner.svg
                .ordinaryPartner.partner
                    include  ../partners/ordynaryPartner.svg
                .ordinaryPartner.partner
                    include  ../partners/ordynaryPartner.svg
                .ordinaryPartner.partner
                    include  ../partners/ordynaryPartner.svg
                .ordinaryPartner.partner
                    include  ../partners/ordynaryPartner.svg



