.tower#partners
    .subTower
        .partnersDecor
            include ../svg/partnersDecor.svg
        if ru
            .sectionTitle партнеры
        else
            .sectionTitle partners
        .partnersBox
                .generalPartner.partner(onclick="window.open('http://vtb.ru')")
                    include ../partners/vtb.svg
                .generalPartner.partner
                    include  ../partners/generalPartner.svg
                .oficialPartner.partner
                    include  ../partners/oficialPartner.svg
                .oficialPartner.partner
                    include  ../partners/oficialPartner.svg
                .oficialPartner.partner
                    include  ../partners/oficialPartner.svg
                .oficialPartner.partner
                    include  ../partners/oficialPartner.svg
                .ordinaryPartner.partner
                    include  ../partners/ordynaryPartner.svg
                .ordinaryPartner.partner
                    include  ../partners/ordynaryPartner.svg
                .ordinaryPartner.partner
                    include  ../partners/ordynaryPartner.svg
                .ordinaryPartner.partner
                    include  ../partners/ordynaryPartner.svg
                .ordinaryPartner.partner
                    include  ../partners/ordynaryPartner.svg

        if ru
            .sectionTitle ИНФОРМАЦИОННЫЕ ПАРТНЕРЫ
        else
            .sectionTitle media partners

        .partnersDecor2
            <svg width="265" height="67" viewBox="0 0 265 67" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 58.8184L264.98 26.3184L261.87 0.968506L0 33.0884V58.8184Z" fill="#E69B4E"/>
            <path d="M0 66.9983L222.08 39.7583L221.06 31.4385L0 58.5483V66.9983Z" fill="#BF3F40"/>
            </svg>
        .partnersBox
            .oficialPartner.partner
                include  ../partners/generalInfoPartner.svg
            .oficialPartner.partner
                include  ../partners/generalInfoPartner.svg
            .oficialPartner.partner
                include  ../partners/generalInfoPartner.svg
            .oficialPartner.partner
                include  ../partners/generalInfoPartner.svg
            .ordinaryPartner.partner(onclick="window.open('http://interfax.ru')")
                include  ../partners/interfax_ru.svg
            .ordinaryPartner.partner(onclick="window.open('http://https://1prime.ru/')")
                include  ../partners/prime_ru.svg
            .ordinaryPartner.partner(onclick="window.open('http://cbons.ru')")
                include  ../partners/cbons_ru.svg
            .ordinaryPartner.partner(onclick="window.open('http://bo.ru')")
                include  ../partners/bo_ru.svg
            .ordinaryPartner.partner(onclick="window.open('http://dp.ru')")
                include  ../partners/businessPiter_ru.svg




