.tower#partners
    .subTower
        .partnersDecor
            include ../svg/partnersDecor.svg
        if ru
            .sectionTitle Генеральные партнеры
        else
            .sectionTitle General partners
        .partnersBox
                //.generalPartner.partner(onclick="window.open('http://vtb.ru')")
                    include ../partners/vtb.svg
                //.generalPartner.partner
                    include  ../partners/generalPartner.svg
                //.oficialPartner.partner
                    include  ../partners/oficialPartner.svg
                //.oficialPartner.partner
                    include  ../partners/oficialPartner.svg
                //.oficialPartner.partner
                    include  ../partners/oficialPartner.svg
                //.oficialPartner.partner
                    include  ../partners/oficialPartner.svg
                .oficialPartner.partner(onclick="window.open('https://alfabank.ru/')")
                    if ru
                        include  ../partners/alfa_bank.svg
                    else
                        include ../partners/alfa_bank_en.svg
                .oficialPartner.partner(onclick="window.open('https://www.vtb.ru/')")
                    if ru
                        include  ../partners/vtb_bank.svg
                    else
                        include ../partners/vtb_en.svg
                .oficialPartner.partner(onclick="window.open('https://www.gazprombank.ru/')")
                    if ru
                        include  ../partners/gaz_bank.svg
                    else
                        include ../partners/gazprombank_en.svg


        if ru
            .sectionTitle ОФИЦИАЛЬНЫЕ ПАРТНЕРЫ
        else
            .sectionTitle official partners
        .partnersDecor2
            <svg width="265" height="59" viewBox="0 0 265 59" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 58.8184L264.98 26.3184L261.87 0.968506L0 33.0884V58.8184Z" fill="#4D8955"/>
            </svg>

        .partnersBox
            //.oficialPartner.partner(onclick="window.open('')")
                include  ../partners/dom_bank.svg

            //.oficialPartner.partner(onclick="window.open('')")
                    include  ../partners/mir.svg

            //.oficialPartner.partner(onclick="window.open('https://xn--d1aqf.xn--p1ai/')")
                    include  ../partners/sbp.svg

            .oficialPartner.partner(onclick="window.open('https://mkb.ru/')")
                    include  ../partners/mkb.svg

            .oficialPartner.partner(onclick="window.open('https://www.moex.com/')")
                    include  ../partners/moex.svg

            .oficialPartner.partner(onclick="window.open('https://sovcombank.ru/')")
                if ru
                    include  ../partners/sovcombank.svg
                else
                    include  ../partners/sovcombank_en.svg


        if ru
            .sectionTitle ПАРТНЕР
        else
            .sectionTitle partner

        .partnersDecor2
            <svg width="265" height="59" viewBox="0 0 265 59" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 58.8184L264.98 26.3184L261.87 0.968506L0 33.0884V58.8184Z" fill="#4D8955"/>
            </svg>

        .partnersBox
            .oficialPartner.partner(onclick="window.open('https://www.rshb.ru/')")
                include  ../partners/rosselhoz.svg
        if ru
            .sectionTitle Генеральный информационный ПАРТНЕР
        else
            .sectionTitle General media partner

        .partnersDecor2
            <svg width="265" height="67" viewBox="0 0 265 67" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 58.8184L264.98 26.3184L261.87 0.968506L0 33.0884V58.8184Z" fill="#E69B4E"/>
            <path d="M0 66.9983L222.08 39.7583L221.06 31.4385L0 58.5483V66.9983Z" fill="#BF3F40"/>
            </svg>
        .partnersBox
            .oficialPartner.partner(onclick="window.open('https://www.ria.ru/')")
                if ru
                    include  ../partners/ria.svg
                else
                    include ../partners/ria_en.svg

        if ru
            .sectionTitle ИНФОРМАЦИОННЫЕ ПАРТНЕРЫ
        else
            .sectionTitle media partners

        .partnersDecor2
            <svg width="265" height="67" viewBox="0 0 265 67" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 58.8184L264.98 26.3184L261.87 0.968506L0 33.0884V58.8184Z" fill="#E69B4E"/>
            <path d="M0 66.9983L222.08 39.7583L221.06 31.4385L0 58.5483V66.9983Z" fill="#BF3F40"/>
            </svg>
        .partnersBox
            //.oficialPartner.partner
                include  ../partners/generalInfoPartner.svg
            //.oficialPartner.partner
                include  ../partners/generalInfoPartner.svg
            //.oficialPartner.partner
                include  ../partners/generalInfoPartner.svg
            //.ordinaryPartner.partner
                include  ../partners/generalInfoPartner.svg

            .oficialPartner.partner(onclick="window.open('http://interfax.ru')")
                if ru
                    include  ../partners/interfax_ru.svg
                else
                    include  ../partners/interfax_en.svg
            .oficialPartner.partner(onclick="window.open('https://www.rbc.ru/')")
                include  ../partners/rbc.svg
            .oficialPartner.partner(onclick="window.open('https://1prime.ru/')")
                include  ../partners/prime_ru.svg
               // else
                    include  ../partners/prime_en.svg
            //.oficialPartner.partner(onclick="window.open('https://www.vedomosti.ru/')")
                include  ../partners/vedomosti.svg
            .oficialPartner.partner(onclick="window.open('https://cbonds.ru/?show_main')")
                include  ../partners/cbons_ru.svg
            .oficialPartner.partner(onclick="window.open('https://bosfera.ru/')")
                include  ../partners/bo_ru.svg
            .oficialPartner.partner(onclick="window.open('https://www.dp.ru/')")
                include  ../partners/businessPiter_ru.svg




