.tower#partners
    .subTower
        .partnersDecor
            include ../svg/partnersDecor.svg
        .sectionTitle партнеры
        .partnersBox
           img(src="/static/images/partners_tmp.png" loading="lazy")
