.tower.ushi#place
    .subTower
        .placeDecor
            include ../svg/partnersDecor.svg
        .sectionTitle площадка
    .placeWr.flex.center
        .quotesArrow.l.flex.center.desktop
            include ../svg/arrowRightRed.svg
        .quotesCenter
            .placeWr.flex.center
                .placePhotoWr
                    .placePhotoBox
                        img(src="/static/images/place01.png")
                .placeTextWr
                    .placeText
                        .placeTextItem Финансовый конгресс Банка&nbsp;России в 2023 году пройдёт на уникальной площадке – Новой сцене Мариинского театра, ставшей узнаваемым символом Санкт-Петербурга XXI века.
                        .placeTextItem Локациями для деловой программы конгресса станут основной и камерный залы Мариинского-2, его репетиционные сцены и классы, открытые террасы с панорамными видами на город и знаменитые многоуровневые гостевые зоны со стенами, отделанными прозрачным ониксом.

        .quotesArrow.r.flex.center.desktop
            include ../svg/arrowRightRed.svg
        //.quotesCtrl.mobile
            .quotesCtrlBox.flex.center
                .quotesArrow.l.flex.center
                    include ../svg/arrowRightRed.svg
                .quotesArrow.r.flex.center
                    include ../svg/arrowRightRed.svg
