.tower.ushi#place
    .subTower
        .placeDecor
            include ../svg/partnersDecor.svg
        .sectionTitle площадка
    .placeWr.flex.center
        .quotesArrow.l.flex.center.desktop#placeArrowL
            include ../svg/arrowRightRed.svg
        .quotesCenter
            .placeWr.flex.center
                .placePhotoWr
                    .placePhotoBox#placePhotoBox
                        img(src="/static/images/place01.png" loading="lazy")
                .placeTextWr
                    .placeText
                        .placeTextItem Финансовый конгресс Банка&nbsp;России в&nbsp;2023&nbsp;году пройдёт на&nbsp;уникальной площадке – Новой&nbsp;сцене&nbsp;Мариинского&nbsp;театра, ставшей узнаваемым символом Санкт-Петербурга&nbsp;XXI&nbsp;века.
                        .placeTextItem Локациями для деловой программы конгресса станут основной и&nbsp;камерный залы Мариинского-2, его репетиционные сцены и&nbsp;классы, открытые террасы с&nbsp;панорамными видами на&nbsp;город и&nbsp;знаменитые многоуровневые гостевые зоны со&nbsp;стенами, отделанными прозрачным ониксом.

        .quotesArrow.r.flex.center.desktop#placeArrowR
            include ../svg/arrowRightRed.svg
        //.quotesCtrl.mobile
            .quotesCtrlBox.flex.center
                .quotesArrow.l.flex.center
                    include ../svg/arrowRightRed.svg
                .quotesArrow.r.flex.center
                    include ../svg/arrowRightRed.svg
