.quoteBody
    .flex.center.quteBodyBox
        .quoteTextWr
            .quoteText.flex
                .quoteTextTitle Стабильность.<br>РАВНОВЕСИЕ.<br>Баланс.
            .quoteTextDivaider
        .quoteImg
            img(src="/static/images/quote01Img.png" loading="lazy")
