.quoteBody
    .flex.center.quteBodyBox
        .quote2Item
            .quote2Text В этом году мы возвращаемся к проведению Финансового конгресса Банка России, чтобы вместе с участниками рынка осмыслить произошедшие перемены и обсудить развитие в новых условиях. Очень многое кардинально изменилось, и важно сохранить какие-то опоры, привычки и традиции. Поэтому я буду ждать вас,как и в прошлые годы, этим летом в Санкт-Петербурге.До встречи!
        .quote2Item
