.quoteBody
    .flex.center.quteBodyBox
        .quote2Item
            if ru
                .quote2Text В этом году мы возвращаемся к проведению Финансового конгресса Банка&nbsp;России,<br>чтобы вместе с участниками рынка осмыслить <br>произошедшие перемены и обсудить развитие в новых условиях.<br>Очень многое кардинально изменилось,<br>и важно сохранить какие-то опоры, привычки и традиции.<br>Поэтому я буду ждать вас, как и в прошлые годы,<br>этим летом в Санкт-Петербурге.<br>До встречи!
                .quote2Fio Эльвира&nbsp;Набиуллина,<br>Председатель&nbsp;Банка&nbsp;России
            else
                .quote2Text THIS YEAR, THE BANK OF RUSSIA BRINGS BACK ITS FINANCIAL CONGRESS AND INVITES MARKET PARTICIPANTS<br>TO ANALYZE THE RECENT CHANGES AND DISCUSS DEVELOPMENT IN THE NEW CONDITIONS.<br>A LOT HAS CHANGED DRAMATICALLY, AND IT IS ESSENTIAL TO PRESERVE CERTAIN FOUNDATIONS, CUSTOMS AND TRADITIONS.<br>THAT IS WHY, AS IN PREVIOUS YEARS, I LOOK FORWARD TO WELCOMING YOU IN ST. PETERSBURG THIS SUMMER.<br>SEE YOU AT THE CONGRESS!
                .quote2Fio Elvira&nbsp;Nabiullina,<br>Governor,&nbsp;Bank&nbsp;of&nbsp;Russia
        .quote2Item.quote2ItemPhoto
            .quote2ItemImgWr.flex.center
                img(src="/static/images/quote02.png" loading="lazy")
