.tower.ushi#quotes
   .quotesWr.flex.center
        .quotesArrow.l.flex.center.desktop
            include ../svg/arrowRightRed.svg
        .quotesCenter
            include  quote01
        .quotesArrow.r.flex.center.desktop
            include ../svg/arrowRightRed.svg
        .quotesCtrl.mobile
            .quotesCtrlBox.flex.center
                .quotesArrow.l.flex.center
                    include ../svg/arrowRightRed.svg
                .quotesArrow.r.flex.center
                    include ../svg/arrowRightRed.svg



