.quoteBody
    .flex.center.quteBodyBox
        .quote2Item
            .quote2Text В этом году мы возвращаемся к проведению Финансового&nbsp;конгресса&nbsp;Банка&nbsp;России,<br>чтобы вместе с участниками рынка осмыслить <br>произошедшие перемены и обсудить развитие в новых условиях.<br>Очень многое кардинально изменилось,<br>и важно сохранить какие-то опоры, привычки и традиции.<br>Поэтому я буду ждать вас, как и в прошлые годы,<br>этим летом в Санкт-Петербурге.<br>До встречи!
            .quote2Fio Эльвира&nbsp;Набиуллина,<br>Председатель&nbsp;Банка&nbsp;России
        .quote2Item.quote2ItemPhoto
            .quote2ItemImgWr.flex.center
                img(src="/static/images/quote02.png" loading="lazy")
