.tower#quotes
   .quotesWr.flex.center
        .quotesArrow.l.flex.center
            include ../svg/arrowRightRed.svg
        .quotesCenter
            include  quote01

        .quotesArrow.r.flex.center
            include ../svg/arrowRightRed.svg


