.coleguesWr
    if users.length==0
        .coleguesRowCap Только Вы представляете компанию
    else
        each u in users
            .coleguesRow
                .coleguesRowCB
                    .regCheckBox.green.flex.left()
                        div
                            .regCheckBoxBox
                .coleguesRowName #{u.f} #{u.i} #{u.o}
