extends ../layout
block head
    title="Финансовый Когресс Банка России: Личный кабинет"
block content

    #loader.prcLoaderWr.flex.center
        .prcLoader
            include ../svg/loader.svg
    #app(style="display:none")
    script(src="/static/lib/vue.min.js")
    script(src="/static/javascripts/utils.js")
    script(src="/static/javascripts/personalScript.js")
