extends ../layout
block head
    title="Финансовый Конгресс Банка России: Личный кабинет"
block content

    #loader.prcLoaderWr.flex.center
        .prcLoader
            include ../svg/loader.svg
    #app()
        .tower
            .persHead.flex.center
                .persHeadRow.flex.center.beetwen
                    .persHeadLogoWr.flex.center(onclick="document.location.href='/'")
                        .persHeadLogo.svg100
                            include ../svg/mainlogo.svg
                        .persHeadText.flex.center
                            .persHeadH1 Финансовый<br>конгресс<br>Банка&nbsp;России
            .persBody
            .persFooter
    script(src="/static/lib/vue.min.js")
    script(src="/static/javascripts/utils.js")
    script(src="/static/javascripts/personalScript.js")
