extends ../layout
block head
    title="Финансовый Конгресс Банка России: Личный кабинет"
block content

    #loader.prcLoaderWr.flex.center
        .prcLoader
            include ../svg/loader.svg
    #app()
        .tower
            .persHead.flex.center
                .persHeadRow.flex.center.beetwen
                    .persHeadLogoWr.flex.center(onclick="document.location.href='/'")
                        .persHeadLogo.svg100
                            include ../svg/mainlogo.svg
                        .persHeadText.flex.center
                            .persHeadH1 Финансовый<br>конгресс<br>Банка&nbsp;России
                    .persMenu.flex.center
                        a.persMenuExit
                            include ../svg/personalNewMessageIco.svg
                        .persMenuFio Иванов Иван
                        a.persMenuExit(href="/personal/exit/"+lang)
                            include ../svg/personalExitIco.svg

            .persBody.flex
                .persBodyL
                    .persNav
                        .persNavItem(v-on:click="section='pay'" v-bind:class="{active:section=='pay'}") Оплата
                        .persNavItem(v-on:click="section='info'" v-bind:class="{active:section=='info'}") Информация
                        .persNavItem(v-on:click="section='profile'" v-bind:class="{active:section=='profile'}") Профиль
                        .persNavItem(v-on:click="section='doc'" v-bind:class="{active:section=='doc'}") Документы
                        .persNavItem(v-on:click="section='hotel'" v-bind:class="{active:section=='hotel'}") Отели
                        .persNavItem(v-on:click="section='transfer'" v-bind:class="{active:section=='transfer'}") Трансферы
                        .persNavItem(v-on:click="section='place'" v-bind:class="{active:section=='place'}") Место проведения
                        .persNavItem(v-on:click="section='feedback'" v-bind:class="{active:section=='feedback'}") Обратная связь


                .persBodyR
                    .persSection(v-if="section=='pay'")
                        include sectPay
                    .persSection(v-if="section=='info'")
                        include sectInfo
                    .persSection(v-if="section=='profile'")
                        include sectProfile
                    .persSection(v-if="section=='doc'")
                        include sectDoc
                    .persSection(v-if="section=='hotel'")
                        include sectHotel
                    .persSection(v-if="section=='transfer'")
                        include sectTransfer
                    .persSection(v-if="section=='place'")
                        include sectPlace
                    .persSection(v-if="section=='feedback'")
                        include sectFeedback

            .persFooter.flex.center
                .persHeadRow.flex.center.beetwen
                    .persHeadLogoWr.flex.center(onclick="document.location.href='/'")
                        .persHeadLogo.svg100
                            include ../svg/mainlogo.svg
                        .persHeadText.flex.center
                            .persHeadH1 Финансовый<br>конгресс<br>Банка&nbsp;России

    script(src="/static/lib/vue.min.js")
    script(src="/static/javascripts/utils.js")
    script(src="/static/javascripts/personalScript.js")
