.participaintRow
    .participaintRowTextUp
        b Пожалуйста, введите ИНН компании-плательщика и нажмите "загрузить данные из ФНС"
    .regRow(v-bind:class="{error:innError}")
        .regRowGroup.flex.left()
            .recLabel.reg287 ИНН
            input#inn.reqInput( v-model="user.payCompany.inn"  type="number" v-on:change="changePayCompanyInn()")
        .reqRowErrorMessage(v-if="innStatus.message") {{innStatus.message}}
        .regCheckBox.green.flex.mobileWrap.left(v-on:click="loadInn( innStatus)" v-bind:class="{active:innStatus.state==2,loading:innStatus.state==1}" style="margin-top: 6px;" )
                .regCheckBoxText(style="margin-left:0") <span class="innBtn">Загрузить из ФНС </span>
                .regCheckBoxBox.desktop.opacity0(v-bind:class="{opacity100:innStatus.state==1}")
                    .FNSloader
                        include ../svg/loader.svg
                .FNSloader.mobile.opacity0(v-bind:class="{opacity100:innStatus.state==1}")
                    include ../svg/loader.svg
    div(v-if="user.payCompany.name")
        .regRow
            .regRowGroup.readonly.flex.left()
                .recLabel.reg287 Название
                input.reqInput(readonly v-model="user.payCompany.name"  )
        .regRow
            .regRowGroup.readonly.flex.left()
                .recLabel.reg287 КПП
                input.reqInput(readonly v-model="user.payCompany.kpp"  type="number")
        .regRow
            .regRowGroup.readonly.flex.left()
                .recLabel.reg287 ОГРН
                input.reqInput(readonly v-model="user.payCompany.ogrn"  type="number")
        .regRow
            .regRowGroup.readonly.flex.left()
                .recLabel.reg287 Адрес
                input.reqInput(readonly v-model="user.payCompany.address"  )
        .regRow
            .regRowGroup.readonly.flex.left()
                .recLabel.reg287  Руководитель
                input.reqInput(readonly v-model="user.payCompany.director"  )
        .regRow
            .regRowGroup.flex.left
                .recLabel.reg287 телефон
                input.reqInput( v-model="user.payCompany.phone" placeholder="ФОРМАТ: +7 000 000 0000" must name="phone")
        .regRow
            .regRowGroup.flex.left
                .recLabel.reg287 Кто подписывает
                input.reqInput( v-model="user.payCompany.signater" placeholder="ФИО сотрудника, на основании чего действует" must name="signater")
        .regRow
            .regCheckBox.green.flex.left(v-on:click="changePayCompanyEdo()" v-bind:class="{active:user.payCompany.isEdo}")
                .regCheckBoxBox
                .regCheckBoxText Компания использует электронный докуметооборот

        .participaintRow(v-if="user.payCompany.isEdo")
                .participaintRowTextUp Для получения документов на оплату через ЭДО, пожалуйста, направьте в системе ЭДО приглашение к обмену документами ООО "ЭФФЕКТКОММ" ИНН 7716792536.

        .participaintRow &nbsp;
            .participaintRow
                .participaintRow
                    .participaintRowTextUp Сумма к оплате: <b>{{user.price}} 0000 рублей</b>
            div(v-if="!isLoading")
                .participaintRow
                    .regSubmit.w630(v-on:click="getDocumentsFromPayCompany()" ) Получить документы на оплату
            .regRow(v-if="isLoading")
                .regSubmit()
                    include ../svg/loader.svg
