.videoReg#reg
    if ru
        .videoRegTitle заявка на участие онлайн
    else
        .videoRegTitle Participate online
    .regRow
        .regRowGroup.flex.left
            if ru
                .recLabel.reg287 Фамилия
            else
                .recLabel.reg287 LAST NAME
            input.reqInput(must name="f")
    .regRow()
        .regRowGroup.flex.left
            if ru
                .recLabel.reg287 Имя
            else
                .recLabel.reg287 FIRST NAME
            input.reqInput(must name="i")
    if ru
        .regRow(v-bind:class="{error:errors.o}")
            .regRowGroup.flex.left
                .recLabel.reg287 Отчество
                input.reqInput(must name="o")
    .regRow(v-bind:class="{error:errors.email}")
        .regRowGroup.flex.left
            .recLabel.reg287 email
            input.reqInput(must name="email" email )
    .regRow()
        .regRowGroup.flex.left
            if ru
                .recLabel.reg287 компания
            else
                .recLabel.reg287 Company
            input.reqInput(must  name="company" placeholder="" )
    .regRow()
        .regRowGroup.flex.left
            if ru
                .recLabel.reg287 должность
            else
                .recLabel.reg287 POSITION
            input.reqInput(must  name="position" placeholder="" )
    .regRow &nbsp;
        .regRow.checkBox
            .regCheckBox.green.flex.left(onclick="this.classList.toggle('active')")
                div
                    .regCheckBoxBox
                div
                    if ru
                        .regCheckBoxText( ) ПРИНИМАЮ ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ
                            a.gray(onclick="event.preventDefault();window.open('/static/key/agr" + lang + "?open=open')")  &nbsp;(посмотреть)
                    else
                        .regCheckBoxText( )  I HEREBY ACCEPT THE TERMS OF SERVICE
                            a.gray(onclick="event.preventDefault();window.open('/static/key/agr" + lang + "?open=open')") &nbsp;(SEE DETAILS)
            if ru
                .reqRowErrorMessage(style="display:none") Cоглашение не принято
            else
                .reqRowErrorMessage(style="display:none") Please tick the box to accept the agreement
        .regRow.checkBox
            .regCheckBox.green.flex.left(onclick="this.classList.toggle('active')")
                div
                    .regCheckBoxBox
                div
                    if ru
                        .regCheckBoxText СОГЛАШАЮСЬ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ
                            a.gray(   onclick="event.preventDefault();window.open('/static/key/pers" + lang + "?open=open')")  &nbsp;(посмотреть)
                    else
                        .regCheckBoxText I HEREBY AGREE TO HAVE MY PERSONAL DATA PROCESSED
                            a.gray(   onclick="event.preventDefault();window.open('/static/key/pers" + lang + "?open=open')")  &nbsp;(SEE DETAILS)
            if ru
                .reqRowErrorMessage(style="display:none") Cоглашение не принято
            else
                .reqRowErrorMessage(style="display:none") Please tick the box to accept the agreement

        .regRow.desktop &nbsp;
        .regRow &nbsp;
            if ru
                .regSubmit.submit(onclick="registerUserToPlayer()") подать заявку
            else
                .regSubmit.submit(onclick="registerUserToPlayer()") submit form
            .regSubmit.loader(style="display:none")
                    include ../svg/loader.svg
script.
    console.log("start video reg")
