div
    .playerHead
        .playerBtnWr
            .playerBtn
                .playerBtnIco
                .playerBtnText Пленарная Сессия
            .playerBtn
                .playerBtnIco
                .playerBtnText зал 1
            .playerBtn
                .playerBtnIco
                .playerBtnText зал 2
            .playerBtn
                .playerBtnIco
                .playerBtnText зал 3
            .playerBtn
                .playerBtnIco
                .playerBtnText зал 4
