#playerWindow

    //.playerHead
        .playerBtnWr
            .playerBtn
                .playerBtnIco
                .playerBtnText Пленарная Сессия
        .playerBtnWr
            .playerBtn
                .playerBtnIco
                .playerBtnText зал 1
        .playerBtnWr
            .playerBtn
                .playerBtnIco
                .playerBtnText зал 2
        .playerBtnWr
            .playerBtn
                .playerBtnIco
                .playerBtnText зал 3
        .playerBtnWr
            .playerBtn
                .playerBtnIco
                .playerBtnText зал 4

    //.playerBody !{JSON.stringify(test)}


