#playerWindow
    #playerLoader
        .videoWr
            .videoWrContent
                .videoWrContentLoader
                    .videoWrContentLoaderBox(style="width:30%")
                        include ../svg/loader.svg
    #playerBox(style="display:none")
        .playerPoster(v-if="!status.status")
            .videoWr
                .videoWrContent
                    if ru
                        img(:src="'/static/image/hi/'+status.poster_ru")
                    else
                        img(:src="'/static/image/hi/'+status.poster_en")

        div(v-else)
            .playerHead
                .playerBtnWr(v-for="hall in halls")
                    .playerBtn
                        .playerBtnIco
                        .playerBtnText {{hall.halltitle_#{lang}}}
            .playerBody !{JSON.stringify(test)}
                .videoWr
                    iframe.videoWrContent(:src="'/liveplayer/'+hall.id+'/'"+lang border="0" allowfullscreen="true" width="1280" height="720")


