.participaintRow
    //.participaintRowBody
    .participaintRowBodySubTitle
            b Бронирование отелей:
    ul
            li Выберете отель, и категорию номера;
            li По кнопке «подробнее» карточка номера.
            li Нажмите «Забронировать» на подхлдящем номере;
            li В систему бронирования отеля поступит заявка;
            li Служба бронирования отеля свяжется с вами;
            li Дальнейшие коммуникация и оплата происходят между вами и отелем.



