.participaintRow
    .menuItem.flex.center.left
        .menuItemBox
        if ru
            .menuItemText Групповые трансферы


.participaintRow
    .participaintRowHead Трансферы из аэропорта “Пулково” и от Московского вокзала
    .participaintRowContent
        p Трансферы из аэропорта “Пулково” и от Московского вокзала в официальные отели Конгресса и на площадку проведения деловой программы будут организованы 5 и 6 июля и обратно - 7 и 8 июля.
        p Для получения гарантированного места, пожалуйста, укажите даные в форме ниже:
.participaintRow
        .badgeForm
            .bageInputGroup
                .bageInput.select.must
                    .bageInputCtrlGroup(v-on:click="showBageDialog($event)")
                        .bageInputLabel Ваш отель
                        input.bageInputCtrl(v-model="transfers.arrival.hotel" field="arrival" subfield="hotel" placeholder="ВЫБЕРИТЕ ОТЕЛЬ")
                    .bageInputDialog.select
                        .bageInputDialogCloseBtnWr
                            .bageInputDialogCloseBtn(v-on:click="closeBageDialog($event)")
                                include ../svg/closeBtn.svg
                        .bageInputDialogItem(v-on:click="selectTransferDialog($event)") blaя
                        .bageInputDialogItem(v-on:click="selectTransferDialog($event)") bla
            .bageInputGroup
                .bageInput.select.must
                    .bageInputCtrlGroup(v-on:click="showBageDialog($event)")
                        .bageInputLabel Место прибытия
                        input.bageInputCtrl(v-model="transfers.arrival.from" field="arrival" subfield="from" placeholder="ВЫБЕРИТЕ MECTO")
                    .bageInputDialog.select
                        .bageInputDialogCloseBtnWr
                            .bageInputDialogCloseBtn(v-on:click="closeBageDialog($event)")
                                include ../svg/closeBtn.svg
                        .bageInputDialogItem(v-on:click="selectTransferDialog($event)") аэропорт "Пулково"
                        .bageInputDialogItem(v-on:click="selectTransferDialog($event)") Московский вокзал
                .bageInput.must
                    .bageInputCtrlGroup
                        .bageInputLabel Номер рейса
                        input.bageInputCtrl(v-model="transfers.arrival.no" field="arrival" subfield="time" placeholder="НОМЕР ПОЕЗДА ИЛИ РЕЙС САМОЛЕТА")

            .bageInputGroup
                .bageInput.select.must
                    .bageInputCtrlGroup(v-on:click="showBageDialog($event)")
                        .bageInputLabel Дата прибытия
                        input.bageInputCtrl(v-model="transfers.arrival.date" field="arrival" subfield="date" placeholder="ВЫБЕРИТЕ ДАТУ")
                    .bageInputDialog.select
                        .bageInputDialogCloseBtnWr
                            .bageInputDialogCloseBtn(v-on:click="closeBageDialog($event)")
                                include ../svg/closeBtn.svg
                        .bageInputDialogItem(v-on:click="selectTransferDialog($event)") 05 июля
                        .bageInputDialogItem(v-on:click="selectTransferDialog($event)") 06 июля
                .bageInput.must
                    .bageInputCtrlGroup
                        .bageInputLabel Время прибытия
                        input.bageInputCtrl(v-model="transfers.arrival.time" field="arrival" subfield="time" placeholder="ФОРМАТ ЧЧ:MM")

    ////////////////////////


.participaintRow
    .participaintRowHead Трансферы из официальных отелей Конгресса
    .participaintRowContent
            p Трансферы из отелей на площадку проведения
                ul
                    li Мариотт 10:00, 12:00, 15:00
                    li Астория 10:00, 12:00, 17:00
            p Трансферы с площадки проведения в отели
                ul
                    li Мариотт 19:00, 20:00, 21:00
                    li Астория 19:00, 20:00, 21:00

            //.badgeForm
                .bageInputGroup
                    .bageInput.must
                        .bageInputCtrlGroup
                            .bageInputLabel Имя получателя
                            input.bageInputCtrl(v-model="badgeDelivery.nameRecipient" placeholder="КТО ПОЛУЧИТ ВАШ БЕЙДЖ")
                    .bageInput.must
                        .bageInputCtrlGroup
                            .bageInputLabel Телефон
                            input.bageInputCtrl(v-model="badgeDelivery.phone" placeholder="ФОРМАТ +7 XXX XX XX")
                .bageInput.must
                    .bageInputCtrlGroup
                        .bageInputLabel Адрес доставки
                        input.bageInputCtrl(v-model="badgeDelivery.address" placeholder="УЛИЦА, ДОМ, ОФИС, КАК ВОЙТИ")
                .bageInputGroup
                    .bageInput.select.must
                        .bageInputCtrlGroup(v-on:click="showBageDialog($event)")
                            .bageInputLabel Дата доставки
                            input.bageInputCtrl.select(v-model="badgeDelivery.dateDelivery" field="dateDelivery" placeholder="ВЫБЕРИТЕ ДАТУ")
                        .bageInputDialog
                            .bageInputDialogCloseBtnWr
                                .bageInputDialogCloseBtn(v-on:click="closeBageDialog($event)")
                                    include ../svg/closeBtn.svg

                            .bageInputDialogItem(v-on:click="selectBageDialog($event)") 26 июня, понедельник
                            .bageInputDialogItem(v-on:click="selectBageDialog($event)") 27 июня, вторник
                            .bageInputDialogItem(v-on:click="selectBageDialog($event)") 28 июня, среда
                            .bageInputDialogItem(v-on:click="selectBageDialog($event)") 29 июня, четверг
                            .bageInputDialogItem(v-on:click="selectBageDialog($event)") 30 июня, пятница
                            .bageInputDialogItem(v-on:click="selectBageDialog($event)") 03 июля, понедельник
                            .bageInputDialogItem(v-on:click="selectBageDialog($event)") 04 июля, вторник

                    .bageInput.select.must
                        .bageInputCtrlGroup(v-on:click="showBageDialog($event)")
                            .bageInputLabel Время доставки
                            input.bageInputCtrl(v-model="badgeDelivery.timeDelivery" field="timeDelivery" placeholder="ВЫБЕРИТЕ ВРЕМЯ")
                        .bageInputDialog.select
                            .bageInputDialogCloseBtnWr
                                .bageInputDialogCloseBtn(v-on:click="closeBageDialog($event)")
                                    include ../svg/closeBtn.svg
                            .bageInputDialogItem(v-on:click="selectBageDialog($event)") 10:00 - 14:00
                            .bageInputDialogItem(v-on:click="selectBageDialog($event)") 14:00 - 18:00

                .bageInput
                    .bageInputCtrlGroup
                        .bageInputLabel Имена участников
                        input.bageInputCtrl(v-model="badgeDelivery.otherParticipaintsNames"  placeholder="ФАМИЛИЯ И ИМЯ")
                    .bageInputDescription МОЖНО ДОБАВИТЬ ДРУГИХ УЧАСТНИКОВ, КОМУ ВЫДАТЬ БЕЙДЖИ КРОМЕ ВАС.
                .bageInput
                    .bageInputCtrlGroup(v-if="!isLoading")
                        .regSubmit(v-on:click="sendBadgeDelivery()")
                            span(v-if="!this.badgeDelivery.id") ОТПРАВИТЬ ЗАЯВКУ
                            span(v-else) ИЗМЕНИТЬ ЗАЯВКУ
                    .bageInputCtrlGroup(v-else)
                        .regSubmit()
                            include ../svg/loader.svg
                .bageInput(v-if="this.badgeDelivery.id")
                    .participaintRowText
                        div Курьер свяжется с получателем по контактному телефону в день передачи бейджа.
                        div Пожалуйста, обратите внимание:  выдача бейджей третьим лицам осуществляется только при наличии оригиналов доверенности и согласий участников Конгресса на обработку ПД.
                        div Благодарим за обращение!













