//.participaintRow
    .menuItem.flex.center.left
        .menuItemBox
        .menuItemText Оплата
    .participaintRowHead Здесь будет информация об оплате

.participaintRow(v-if="user.statusid==60")
        .partSelectForm.flex.center
            .partSelectFormItem.active юридическое лицо
            .partSelectFormItem(v-on:click="setPaySelf(true)") физическое лицо
.participaintRow(v-if="user.statusid==65 && user.isPaySelf")
    .partSelectForm.flex.center
        .partSelectFormItem(v-on:click="setPaySelf(false)") юридическое лицо
        .partSelectFormItem.active физическое лицо
