.participaintRow
    .menuItem.flex.center.left
        .menuItemBox
        if ru
            .menuItemText Получение бейджа

.participaintRow
    .participaintDocs
        .participaintDocsItem.flex.center.beetwen(v-for="f in user.files")
            .participaintDocTitle  {{f.name}}
            a.participaintDocBtn( :href="'/static/file/'+f.guid" :download="f.name") Скачать доверенность на получение
.participaintRow
    .participaintRowHead Получение бейджа в Санкт-Петербурге
    .participaintRowContent
            p В Санкт-Петербурге бейдж можно получить:
                ul
                    li На стойках регистрации в “Гранд Отель Европа”, отелях “Англетер” и “Амбасадор”  – с 14:00 5 июля;
                    li На площадке деловой программы Конгресса – 6 и 7 июля.
.participaintRow
    .participaintRowHead Курьерская доставка бейджа в Москве
    .participaintRowContent
        p Подача заявок на доставку бейджа курьером в Москве завершена.<br> Бейджи по заявкам, оформленным на доставку 3 и 4 июля, будут доставлены. Курьеры предварительно свяжутся с каждым из участников
        p Если Вы не успели оформить заявку на доставку бейджа в Москве, Вы можете получить его уже в Санкт-Петербурге 5 июля в отелях Англетер, Амбассадор, Европа; 6-7 июля - на основной площадке Конгресса.

//.participaintRow
    .participaintRowHead Курьерская доставка бейджа в Москве
    .participaintRowContent
        p Вы можете получить бейдж в Москве с 26&nbsp;июня по 04&nbsp;июля, его доставит курьер.
        p Для этого:
            ul
                li Заполнитe форму ниже;
                li Подготовьте подписанное
                    a(:href="'/personal/personalDataAgreement?guid='+user.guid" target="_blank") &nbsp;согласие на обработку персональных данных
                    span &nbsp;участника;
                li Если бейдж получает третье лицо необходимо также подготовить подписанную доверенность от <a href="/static/images/proxy_ur.docx" download>компании</a> или от <a href="/static/images/proxy_fiz.docx" download>конкретного участника</a>;
                li Уточните время доставки в согласованный день по запросу курьера;
                li Передайте курьеру подготовленные документы (согласие на обработку ПД и доверенность для третьего лица) и получите бейдж.
        .badgeForm
            .bageInputGroup
                .bageInput.must
                    .bageInputCtrlGroup
                        .bageInputLabel Имя получателя
                        input.bageInputCtrl(v-model="badgeDelivery.nameRecipient" placeholder="КТО ПОЛУЧИТ ВАШ БЕЙДЖ")
                .bageInput.must
                    .bageInputCtrlGroup
                        .bageInputLabel Телефон
                        input.bageInputCtrl(v-model="badgeDelivery.phone" placeholder="ФОРМАТ +7 XXX XX XX")
            .bageInput.must
                .bageInputCtrlGroup
                    .bageInputLabel Адрес доставки
                    input.bageInputCtrl(v-model="badgeDelivery.address" placeholder="УЛИЦА, ДОМ, ОФИС, КАК ВОЙТИ")
            .bageInputGroup
                .bageInput.select.must
                    .bageInputCtrlGroup(v-on:click="showBageDialog($event)")
                        .bageInputLabel Дата доставки
                        input.bageInputCtrl.select(v-model="badgeDelivery.dateDelivery" field="dateDelivery" placeholder="ВЫБЕРИТЕ ДАТУ")
                    .bageInputDialog
                        .bageInputDialogCloseBtnWr
                            .bageInputDialogCloseBtn(v-on:click="closeBageDialog($event)")
                                include ../svg/closeBtn.svg

                        //.bageInputDialogItem(v-on:click="selectBageDialog($event)") 26 июня, понедельник
                        //.bageInputDialogItem(v-on:click="selectBageDialog($event)") 27 июня, вторник
                        //.bageInputDialogItem(v-on:click="selectBageDialog($event)") 28 июня, среда
                        //.bageInputDialogItem(v-on:click="selectBageDialog($event)") 29 июня, четверг
                        //.bageInputDialogItem(v-on:click="selectBageDialog($event)") 30 июня, пятница
                        .bageInputDialogItem(v-on:click="selectBageDialog($event)") 03 июля, понедельник
                        .bageInputDialogItem(v-on:click="selectBageDialog($event)") 04 июля, вторник

                .bageInput.select.must
                    .bageInputCtrlGroup(v-on:click="showBageDialog($event)")
                        .bageInputLabel Время доставки
                        input.bageInputCtrl(v-model="badgeDelivery.timeDelivery" field="timeDelivery" placeholder="ВЫБЕРИТЕ ВРЕМЯ")
                    .bageInputDialog.select
                        .bageInputDialogCloseBtnWr
                            .bageInputDialogCloseBtn(v-on:click="closeBageDialog($event)")
                                include ../svg/closeBtn.svg
                        .bageInputDialogItem(v-on:click="selectBageDialog($event)") 10:00 - 14:00
                        .bageInputDialogItem(v-on:click="selectBageDialog($event)") 14:00 - 18:00

            .bageInput(v-if="badgeDelivery.collegues.length>0")
                ul Коллеги, получающие бейджи со мной:
                    li(v-for="item in badgeDelivery.collegues") {{item.name}}
            .bageInput
                .btnRegAdd( v-on:click="colleguesDialogShow()") Добавить коллег из моей компании
                ///.bageInputCtrlGroup
                    .bageInputLabel Имена участников
                    input.bageInputCtrl(v-model="badgeDelivery.otherParticipaintsNames"  placeholder="ФАМИЛИЯ И ИМЯ")
                //.bageInputDescription МОЖНО ДОБАВИТЬ ДРУГИХ УЧАСТНИКОВ, КОМУ ВЫДАТЬ БЕЙДЖИ КРОМЕ ВАС.

            .bageInput
                .bageInputCtrlGroup(v-if="!isLoading")
                    .regSubmit(v-on:click="sendBadgeDelivery()")
                        span(v-if="!this.badgeDelivery.id") ОТПРАВИТЬ ЗАЯВКУ
                        span(v-else) ИЗМЕНИТЬ ЗАЯВКУ
                .bageInputCtrlGroup(v-else)
                    .regSubmit()
                        include ../svg/loader.svg
            .bageInput(v-if="this.badgeDelivery.id")
                .participaintRowText
                    div Курьер свяжется с получателем по контактному телефону в день передачи бейджа.
                    div Пожалуйста, обратите внимание:  выдача бейджей третьим лицам осуществляется только при наличии оригиналов доверенности и согласий участников Конгресса на обработку ПД.
                    div Благодарим за обращение!














