.participaintRow
    .menuItem.flex.center.left
        .menuItemBox
        if ru
            .menuItemText Получение бейджа

.participaintRow
    .participaintDocs
        .participaintDocsItem.flex.center.beetwen(v-for="f in user.files")
            .participaintDocTitle  {{f.name}}
            a.participaintDocBtn( :href="'/static/file/'+f.guid" :download="f.name") Скачать доверенность на получение
.participaintRow
    .participaintRowHead Курьерская доставка бейджа в Москве
    .participaintRowContent
        p Вы можете получить  бейдж в Москве с 26 июня по 04 июля, его доставит курьер.
        p Для этого:
            ul
                li Заполните форму ниже;
                li Подготовить подписанное <a href="/personal/personalDataAgreement" target="_blanl">согласие на обработку персональных данных</a> участника;
                li Если бейдж получает третье лицо — необходимо также подготовить подписанную доверенность для <a href="">юр лица</a> или доверенность для <a>физ лица</a>;
                li В согласованный день передачи бейджа курьер свяжется для уточнения времени доставки;
                li Передать курьеру подготовленные документы (согласие на обработку ПД и доверенность для третьего лица) и получить бейдж.
        .badgeForm
            .bageInputGroup
                .bageInput.error
                    .bageInputCtrlGroup
                        .bageInputLabel Имя получателя
                        input.bageInputCtrl(placeholder="КТО ПОЛУЧИТ ВАШ БЕЙДЖ")
                .bageInput
                    .bageInputCtrlGroup
                        .bageInputLabel Телефон
                        input.bageInputCtrl(placeholder="ФОРМАТ +7 XXX XX XX")
            .bageInput
                .bageInputCtrlGroup
                    .bageInputLabel Адрес доставки
                    input.bageInputCtrl(placeholder="УЛИЦА, ДОМ, ОФИС, КАК ВОЙТИ")
            .bageInputGroup
                .bageInput
                    .bageInputCtrlGroup
                        .bageInputLabel Дата доставки
                        input.bageInputCtrl(placeholder="ВЫБЕРИТЕ ДАТУ")
                .bageInput
                    .bageInputCtrlGroup
                        .bageInputLabel Время доставки
                        input.bageInputCtrl.input(placeholder="ВЫБЕРИТЕ ВРЕМЯ")
            .bageInput
                .bageInputCtrlGroup
                    .bageInputLabel Имена участников
                    input.bageInputCtrl(placeholder="ФАМИЛИЯ И ИМЯ")
                .bageInputDescription МОЖНО ДОБАВИТЬ УЧАСТНИКОВ, КОМУ ВЫДАТЬ БЕЙДЖИ КРОМЕ ВАС.
            .bageInput
                .bageInputCtrlGroup
                    .regSubmit ОТПРАВИТЬ ЗАЯВКУ




    .participaintRowHead Получение бейджа в Санкт-Петербурге
    .participaintRowContent
        p В Санкт-Петербурге бейдж можно получить:
            ul
                li На стойках регистрации в “Гранд Отель Европа”, отелях “Англетер” и “Амбасадор”  – с 5 июля;
                li На площадке деловой программы Конгресса – 6 и 7 июля.







