.participaintRow
    .menuItem.flex.center.left
        .menuItemBox
        .menuItemText Обратная связь
.participaintRow

        textarea.personalFeedback(v-model="feedback.text" placeholder="Напишите здесь Ваше сообщение")
.participaintRow
    .feedBackUpload.flex.beetwen

        .feedBackFiles
            .feedBackFile.flex.center.left(v-for="file in feedback.files")
                .feedBackFileName {{file.name}}
                .feedBackFileLoading(v-if="file.loading")
                    include ../svg/loader.svg
        .feedBackUploadBtn(v-on:click="feedbackAddFile()") Приложить файлы

.regRow(v-if="!isLoading")
    .participaintRowContent
        .regSubmit(v-on:click="sendFeedback()" ) Отправить сообщение организаторам
.regRow(v-if="isLoading")
    .participaintRowContent
        .regSubmit()
            include ../svg/loader.svg

