.participaintRow
    .menuItem.flex.center.left
        .menuItemBox
        if ru
            .menuItemText Информация
        else
            .menuItemText Information

.participaintRow(v-if="user.isSpk")
    .participaintRowHead Приглашаем вас забронировать номер в одном из официальных отелей Конгресса.
    .participaintRowContent
        p Во время его проведения для участников действуют специальные тарифы.
        p Отели расположены в исторической части Санкт-Петербурга, недалеко от места проведения.
        p
            div Эксклюзивно для спикеров Конгресса доступно бронирование номеров в отелях:
            div «Астория» 5*,
            div и «Англетер» 4*
            div для бронирования свяжитесь, пожалуйста, с Оргкомитетом через форму обратной связи.
        p
            div Для всех участников также доступны номера в отелях:
            div «Амбассадор» 4*,
            div «Гранд Отель Европа» 5*,
            div «Петро Палас Отель» 5*,
            div «Ренартисс Исаакий Санкт-Петербург» 5*,
            div «Талион Империал Отель» 5*, «SO/ St. Petersburg» 5*.
        p Ознакомиться с условиями и направить запрос на бронирование вы можете в разделе Отели.
.participaintRow(v-else)
    .participaintRowHead Приглашаем вас забронировать номер в одном из официальных отелей Конгресса.
    .participaintRowContent
        p Во время его проведения для участников действуют специальные тарифы.
        p Отели расположены в исторической части Санкт-Петербурга, недалеко от места проведения.
        p
            div Для бронирования доступны:
            div «Амбассадор» 4*,
            div «Гранд Отель Европа» 5*,
            div «Петро Палас Отель» 5*,
            div «Ренартисс Исаакий Санкт-Петербург» 5*,
            div «Талион Империал Отель» 5*,
            div «SO/ St. Petersburg» 5*.
        p Ознакомиться с условиями и направить запрос на бронирование вы можете в разделе Отели.

.participaintRow(v-for="item in user.info")
    .participaintRowHead {{item.titleru}}
    .participaintRowContent
            ul
                .wordWrap(v-html="getHtml(item.textru)")
