.participaintRow
    .menuItem.flex.center.left
        .menuItemBox
        .menuItemText Документы
.participaintRow
    .participaintDocs
        .participaintDocsItem.flex.center.beetwen
            .participaintDocTitle  файл
            .participaintDocBtn Скачать


