.participaintRow
    .menuItem.flex.center.left
        .menuItemBox
        .menuItemText Место проведения
.participaintRow
    .participaintRowBodySubTitle
        b Новая сцена Мариинского театра
.participaintRow
    .participaintRowBodySubTitle  г. Санкт-Петербург, ул. Декабристов, дом 34
.participaintRow
    .participaintRowContent
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1999.4035528840363!2d30.289232879877087!3d59.925445616155486!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469630e3bda1a5a3%3A0xc8c92cb24ee9780c!2z0JzQsNGA0LjQuNC90YHQutC40LktMg!5e0!3m2!1sru!2sru!4v1682248578834!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


