.participaintRow
    .participaintRowBody
    .participaintRowBodySubTitle
            b Бронирование отелей:
    ul
            li 1. Выберете отель, и категорию номера;
            li 2. По кнопке «подробнее» карточка номера. Если номер подходит – нажмите «Забронировать»;
            li 3. В систему бронирования отеля поступит заявка с вашими данными и вашим выбором;
            li 4. Служба бронирования отеля свяжется с вами;
            li 5. Дальнейшие коммуникация и оплата происходят между вами и отелем.



