//.participaintRow
    .menuItem.flex.center.left
        .menuItemBox
        .menuItemText Оплата
    .participaintRowHead Здесь будет информация об оплате

// Смена плательщика юриком
div(v-if="user.statusid==60")
    .partUrPay
        .partMenyPay
            .participaintRow
                    .partSelectForm.flex.center
                        .partSelectFormItem.active юридическое лицо
                        .partSelectFormItem(v-on:click="setPaySelf(true)") физическое лицо
        .partMainCompanyPay(v-if="!user.copmanyPay")
            .participaintRow &nbsp;
            .participaintRow
                .participaintRowTextUp
                    b Пожалуйста, проверьте данные компании, которую Вы представляете
                .regRow

                    .regRowGroup.readonly.flex.left()
                        .recLabel.reg287 ИНН
                        input.reqInput(readonly v-model="user.company.inn"  type="number")
                .regRow
                    .regRowGroup.readonly.flex.left()
                        .recLabel.reg287 Название
                        input.reqInput(readonly v-model="user.company.name"  )
                .regRow
                    .regRowGroup.readonly.flex.left()
                        .recLabel.reg287 КПП
                        input.reqInput(readonly v-model="user.company.kpp"  type="number")
                .regRow
                    .regRowGroup.readonly.flex.left()
                        .recLabel.reg287 ОГРН
                        input.reqInput(readonly v-model="user.company.ogrn"  type="number")
                .regRow
                    .regRowGroup.readonly.flex.left()
                        .recLabel.reg287 Адрес
                        input.reqInput(readonly v-model="user.company.address"  )
                .regRow
                    .regRowGroup.readonly.flex.left()
                        .recLabel.reg287  Руководитель
                        input.reqInput(readonly v-model="user.company.director"  )
                .regRow
                    .regRowGroup.flex.left
                        .recLabel.reg287 телефон
                        input.reqInput( v-model="user.company.phone" placeholder="ФОРМАТ: +7 000 000 0000" must name="phone")
                .regRow
                    .regRowGroup.flex.left
                        .recLabel.reg287 Кто подписывает
                        input.reqInput( v-model="user.company.signater" placeholder="ФИО сотрудника, на основании чего действует" must name="signater")
                .regRow
                    .regCheckBox.green.flex.left(v-on:click="changeCompanyEdo()" v-bind:class="{active:user.company.isEdo}")
                        .regCheckBoxBox
                        .regCheckBoxText Компания использует электронный докуметооборот
            .participaintRow &nbsp;
            .participaintRow

                .regSubmit.w630(v-on:click="" ) Получить документы на оплату
            .participaintRow
                .regSubmit.w630.yellow(v-on:click="user.copmanyPay={}" ) Плательщик – другая организация
        .partSecondCompanyPay(v-if="user.copmanyPay")
            .participaintRow Оплата с доп юр лица



// Оплата Физикоm
div(v-if="user.statusid==65 && user.isPaySelf")
    .participaintRow
        .partSelectForm.flex.center
            .partSelectFormItem(v-on:click="setPaySelf(false)") юридическое лицо
            .partSelectFormItem.active физическое лицо
    .participaintRow &nbsp;
    .participaintRow
        .participaintRowBodySubTitle Сумма к оплате: <b>{{user.price}} 000 рублей</b>
    .participaintRow
        .participaintRowBodySubTitle
            form(method='POST' action='https://demo.paykeeper.ru/create/')
                input( type='hidden' name='sum' :value='user.price*1000')
                input(type='hidden' name='orderid' :value='user.invoice')
                input(type='hidden' name='service_name' :value="'Оказание услуг по организации участия представителя Заказчика в конгрессе «Финансовый конгресс Банка России» 6-7 июля 2023 года в городе Санкт-Петербург. Cчет-Договор ФК-'+user.invoice")
                input.regSubmit(type='submit' value='Перейти к оплате')
    .participaintRow &nbsp;
    .participaintRow
        p#paykeeper
            .participaintRowBodySubTitle Оплата производится по банковской карте или по QR-коду Системы Быстрых Платежей:
            p
                ul
                    li Осуществляется через Платежную платформу <a class="inline" href="https://paykeeper.ru/" target="_blank">PayKeeper</a>;
                    li Для оплаты товара банковской картой при оформлении заказа выберите способ оплаты: банковской картой;
                    li К оплате принимаются платежные карты: МИР, VISA Inc, MasterCard WorldWide, выпущенные российскими банками.
            p
                .participaintRowContent
                    div.
                        При оплате заказа банковской картой обработка платежа происходит на авторизационной странице банка, где Вам необходимо ввести данные Вашей банковской карты.
                    div Если Ваша карта подключена к услуге 3D-Secure, Вы будете автоматически переадресованы на страницу банка, выпустившего карту, для прохождения процедуры аутентификации;
                    div Информацию о правилах и методах дополнительной идентификации уточняйте в Банке, выдавшем Вам банковскую карту.
                    div Безопасность обработки интернет-платежей через платежный шлюз банка гарантирована международным сертификатом безопасности PCI DSS. Передача информации происходит с применением технологии шифрования TLS.  Эта информация недоступна посторонним лицам;
                    div Для оплаты через Систему Быстрых Платежей отсканируйте банковским приложением предоставленный QR-код. Далее следуйте инструкциям вашего банка.
            p
                .participaintRowContent
                    img(src="/static/images/visa.png" loading="lazy")

