.participaintRow
    .menuItem.flex.center.left
        .menuItemBox
        if ru
            .menuItemText Обратная связь
        else
            .menuItemText Feedback
.participaintRow

        textarea.personalFeedback(v-model="feedback.text" placeholder=ru?"Напишите здесь Ваше сообщение":"Specify your message here")
.participaintRow
    .feedBackUpload.flex.beetwen

        .feedBackFiles
            .feedBackFile.flex.center.left(v-for="file in feedback.files")
                .feedBackFileName {{file.name}}
                .feedBackFileLoading(v-if="file.loading")
                    include ../svg/loader.svg
        if ru
            .feedBackUploadBtn(v-on:click="feedbackAddFile()") Приложить файлы
        else
            .feedBackUploadBtn(v-on:click="feedbackAddFile()") ADD ATTACHMENTS

.regRow(v-if="!isLoading")
    .participaintRowContent
        if ru
            .regSubmit(v-on:click="sendFeedback()" ) Отправить сообщение организаторам
        else
            .regSubmit(v-on:click="sendFeedback(false)" ) SEND A MESSAGE TO THE ORGANISING COMMITTEE
.regRow(v-if="isLoading")
    .participaintRowContent
        .regSubmit()
            include ../svg/loader.svg

