.participaintRow
    .menuItem.flex.center.left
        .menuItemBox
        .menuItemText Профиль
.regRow
    .reqPhoto2.reg287(v-on:click="uploadPhoto()")
        .reqPhotoBox2
            .reqPhotoBox2Photo
                img(v-if="user.photoid" :src="'/static/image/middle/'+user.photoid")
        .mt2 Изменить фото
