.participaintRow
    .menuItem.flex.center.left
        .menuItemBox
        .menuItemText Оплата
    .participaintRowHead Здесь будет информация об оплате
div(v-if="user.statusid==60")
.participaintRow
    .partSelectForm.flex.center
        .partSelectFormItem.active юридическое лицо
        .partSelectFormItem физическое лицо
