.participaintRow
    .oTrack.impotant(style="width: 100%;")
        .oSessionScroll
            .oSessionWr.flex.left
                .oSession
                    .oSessionHallTitle Гид по ресторанам Петербурга
                    p Вы – эксперты в финансах и экономике. Мы – эксперты в гастрономии. Мы понимаем, что деловые и интеллектуальные задачи часто требуют более широкого контекста и неформальной обстановки, поэтому подготовили для вас гид лучших мест Петербурга, где вы можете продолжить диалог за пределами официальной программы: утром, вечером и даже ночью.
                    p Команда Московских гастрономических Фестивалей (МГФ) / <a href="https://gastronomic.ru">gastronomic.ru</a>
    .participaintRow
        //.participaintRowHead Трансферы из аэропорта Пулково и от Московского вокзала
        .participaintRowContent
            p В рамках культурной программы Финансового конгресса Банка России вечером 6 июля на Исторической сцене Мариинского театра состоится представление балета «Драгоценности».
            p Сбор гостей с 19:30. Начало спектакля в 20:00. Адрес театра: Театральная площадь, д.1.
            p Персональные приглашения будут разосланы по электронной почте и загружены в личный кабинет участника накануне спектакля. Распечатывать приглашения не требуется, достаточно показать билетеру экран смартфона.
            p После окончания деловой программы будут организованы шаттлы в официальные отели конгресса и затем от отелей в Мариинский театр. После завершения спектакля шаттлы доставят гостей конгресса в официальные отели.
