.participaintRow
    .menuItem.flex.center.left
        .menuItemBox
        if ru
            .menuItemText Информация
        info
            .menuItemText Information

.participaintRow(v-for="item in user.info")
    .participaintRowHead {{item.titleru}}
    .participaintRowBody
        .participaintRowContent
            ul
                .wordWrap(v-html="getHtml(item.textru)")
