.participaintRow
    .menuItem.flex.center.left
        .menuItemBox
        .menuItemText Обратная связь
.participaintRow
    .participaintRowContent
        textarea.personalFeedback(v-model="feedback.text" placeholder="Напишите здесь Ваше сообщение")
.participaintRow

    .participaintRowContent.feedBackUpload
        .feedBackUploadBtn Приложить файлы

.regRow(v-if="!isLoading")
    .participaintRowContent
        .regSubmit(v-on:click="sendFeedback()" ) Отправить сообщение организаторам
.regRow(v-if="isLoading")
    .participaintRowContent
        .regSubmit()
            include ../svg/loader.svg

