.participaintRow
    .menuItem.flex.center.left
        .menuItemBox
        .menuItemText Информация
.participaintRow(v-for="item in user.info")
    .participaintRowHead {{item.titleru}}
    .participaintRowContent.wordWrap {{item.textru}}
