//.participaintRow
    .menuItem.flex.center.left
        .menuItemBox
        .menuItemText Оплата
    .participaintRowHead Здесь будет информация об оплате

.participaintRow(v-if="user.statusid==60")
        .partSelectForm.flex.center
            .partSelectFormItem.active юридическое лицо
            .partSelectFormItem физическое лицо
