.participaintRow
    .menuItem.flex.center.left
        .menuItemBox
        .menuItemText Культурная программа
    .participaintRow
        //.participaintRowHead Трансферы из аэропорта Пулково и от Московского вокзала
        .participaintRowContent
            p В рамках культурной программы Финансового конгресса Банка России вечером 6 июля на Исторической сцене Мариинского театра состоится представление балета «Драгоценности».
            p Сбор гостей с 19:30. Начало спектакля в 20:00. Адрес театра: Театральная площадь, д.1.
            p Персональные приглашения будут разосланы по электронной почте и загружены в личный кабинет участника накануне спектакля. Распечатывать приглашения не требуется, достаточно показать билетеру экран смартфона.
            p После окончания деловой программы будут организованы шаттлы в официальные отели конгресса и от отелей в Мариинский театр.
