.participaintRow
    .menuItem.flex.center.left
        .menuItemBox
        if ru
            .menuItemText Информация
        else
            .menuItemText Information

.participaintRow(v-if="user.isSpk")
    .participaintRowHead Приглашаем вас забронировать номер в одном из официальных отелей Конгресса.
    .participaintRowContent
        p Во время его проведения для участников действуют специальные тарифы.
        p Отели расположены в исторической части Санкт-Петербурга, недалеко от места проведения.
        p Эксклюзивно для спикеров Конгресса доступно бронирование номеров в отелях «Астория» 5*, и «Англетер» 4* - для бронирования свяжитесь, пожалуйста, с Оргкомитетом через форму обратной связи.
        p Для всех участников также доступны номера в отелях «Амбассадор» 4*, «Гранд Отель Европа» 5*, «Петро Палас Отель» 5*, «Ренартисс Исаакий Санкт-Петербург» 5*, «Талион Империал Отель» 5*, «SO/ St. Petersburg» 5*.
        p Ознакомиться с условиями и направить запрос на бронирование вы можете в разделе Отели.
.participaintRow(v-else)
    .participaintRowHead Приглашаем вас забронировать номер в одном из официальных отелей Конгресса.
    .participaintRowContent
        p Во время его проведения для участников действуют специальные тарифы.
        p Отели расположены в исторической части Санкт-Петербурга, недалеко от места проведения.

        p Для всех участников также доступны номера в отелях «Амбассадор» 4*, «Гранд Отель Европа» 5*, «Петро Палас Отель» 5*, «Ренартисс Исаакий Санкт-Петербург» 5*, «Талион Империал Отель» 5*, «SO/ St. Petersburg» 5*.
        p Ознакомиться с условиями и направить запрос на бронирование вы можете в разделе Отели.

.participaintRow(v-for="item in user.info")
    .participaintRowHead {{item.titleru}}
    .participaintRowContent
            ul
                .wordWrap(v-html="getHtml(item.textru)")
