//.participaintRow
    .menuItem.flex.center.left
        .menuItemBox
        .menuItemText Оплата
    .participaintRowHead Здесь будет информация об оплате

// Смена плательщика юриком
div(v-if="user.statusid==60")
    .partUrPay
        .partMenyPay
            .participaintRow
                .partSelectForm.flex.center
                    .partSelectFormItem.active юридическое лицо
                    .partSelectFormItem(v-on:click="setPaySelf(true)") физическое лицо
        .partMainCompanyPay(v-if="!user.payCompany")
            .participaintRow &nbsp;
            .participaintRow
                .participaintRowTextUp
                    b Пожалуйста, проверьте данные компании, которую Вы представляете
                .regRow

                    .regRowGroup.readonly.flex.left()
                        .recLabel.reg287 ИНН
                        input.reqInput(readonly v-model="user.company.inn"  type="number")
                .regRow
                    .regRowGroup.readonly.flex.left()
                        .recLabel.reg287 Наименование
                        input.reqInput(readonly v-model="user.company.name"  )
                .regRow
                    .regRowGroup.readonly.flex.left()
                        .recLabel.reg287 КПП
                        input.reqInput(readonly v-model="user.company.kpp"  type="number")
                .regRow
                    .regRowGroup.readonly.flex.left()
                        .recLabel.reg287 ОГРН
                        input.reqInput(readonly v-model="user.company.ogrn"  type="number")
                .regRow
                    .regRowGroup.readonly.flex.left()
                        .recLabel.reg287 Адрес
                        input.reqInput(readonly v-model="user.company.address"  )
                .regRow
                    .regRowGroup.readonly.flex.left()
                        .recLabel.reg287  Руководитель
                        input.reqInput(readonly v-model="user.company.director"  )
                .regRow
                    .regRowGroup.flex.left
                        .recLabel.reg287 Телефон
                        input.reqInput( v-model="user.company.phone" placeholder="ФОРМАТ: +7 000 000 0000" must name="phone")
                .regRow
                    .regRowGroup.flex.left
                        .recLabel.reg287 Кто подписывает
                        input.reqInput( v-model="user.company.signater" placeholder="ФИО сотрудника, на основании чего действует" must name="signater")
                .regRow
                    .regCheckBox.green.flex.left(v-on:click="changeCompanyEdo()" v-bind:class="{active:user.company.isEdo}")
                        .regCheckBoxBox
                        .regCheckBoxText Компания использует электронный документооборот
                //.regRow()

            .participaintRow(v-if="user.payCompany.isEdo")
                .participaintRowTextUp Для получения документов на оплату через ЭДО, пожалуйста, направьте в системе ЭДО приглашение к обмену документами ООО "ЭФФЕКТКОММ" ИНН 7716792536.

            .participaintRow &nbsp;
            .participaintRow
                .participaintRow
                    .participaintRowTextUp Сумма к оплате: <b>{{user.price}} 0000 рублей</b>
            div(v-if="!isLoading")
                .participaintRow
                    .regSubmit.w630(v-on:click="getDocumentsFromMainCompany()" ) Получить документы на оплату
                .participaintRow
                    .regSubmit.w630.yellow(v-on:click="isPayCompany()" ) Плательщик – другая организация
            .regRow(v-if="isLoading")
                .regSubmit()
                    include ../svg/loader.svg
        .partSecondCompanyPay(v-if="user.payCompany")
            include payCompany


// счет на оплату
div(v-if="user.statusid==65 && !user.isPaySelf")
    .participaintRow &nbsp;
        .participaintRowBtnGroup.flex.center.left
            a( href="/personal/invoice" download="invoice.pdf") Счет на оплату
            a( href="/personal/personalDataAgreement" download="personalDataAgreement.pdf") Согласие на обработку персональных данных
            div(v-if="(user.payCompany && user.payCompany.isEdo) || (!user.payCompany && user.company.isEdo)")
                a( href="/personal/edoAgreement" download="EdoAgreement.pdf") Соглашение об ЭДО
    .participaintRow &nbsp;
    .participaintRow
        .participaintRowTextUp
            b Документы так же доступны для скачивания в разделе «документы»
    .participaintRow
        .participaintRowContent
            div 1. Скачайте документы.
            div 2. Счет-Договор отдайте на оплату.
            div 3  Подпишите и передайте организаторам согласие об обработке персональных данных при получении бейджа в пункте выдачи бейджей или на площадке Конгресса.
    .participaintRow &nbsp;
    .participaintRow
        .participaintRowTextUp
            b Документы выписаны по реквизитам:
            .participaintRow
                .participaintRowContent
                    div {{user.payCompany?user.payCompany.name:user.company.name }}
                    div ИНН/КПП: {{user.payCompany?user.payCompany.inn:user.company.inn }} / {{user.payCompany?user.payCompany.kpp:user.company.kpp }}
                    div {{user.payCompany?user.payCompany.address:user.company.address }}
    .participaintRow &nbsp;
    .participaintRow
        .participaintRowTextUp Стоимость участия: <b>{{user.price}} 0000 рублей</b> (НДС не облагается)
    .participaintRow &nbsp;
    .regRow(v-if="!isLoading")
        .participaintRow
            .participaintRowContent Если Вы хотели бы изменить реквизиты — сообщите об этом на официальную почту Финансового Конгресса: <a hrerf="mailto:info@incongress.ru">info@incongress.ru</a>
        //.regSubmit(v-on:click="returnToPaymentSelect()" ) Изменить реквизиты и получить новый счет
    .regRow(v-if="isLoading")
        .regSubmit()
            include ../svg/loader.svg

// счет оплачен
div(v-if="user.statusid>=70")
    .participaintRow &nbsp;
        .participaintRowBtnGroup.flex.center.left
            a( href="/personal/invoice" download="invoice.pdf") Счет-Договор
            a( href="/personal/personalDataAgreement" download="personalDataAgreement.pdf") Согласие на обработку персональных данных
            div(v-if="(user.payCompany && user.payCompany.isEdo) || (!user.payCompany && user.company.isEdo)")
                a( href="/personal/edoAgreement" download="EdoAgreement.pdf") Соглашение об ЭДО
    .participaintRow
        .participaintRowTextUp
            b Документы так же доступны для скачивания в разделе «документы»
    .participaintRow &nbsp;
    .participaintRow
        .participaintRowTextUp

            b Счет оплачен.<br>Спасибо!


// Оплата Физикоm
div(v-if="user.statusid==65 && user.isPaySelf")
    .participaintRow
        .partSelectForm.flex.center
            .partSelectFormItem(v-on:click="setPaySelf(false)") юридическое лицо
            .partSelectFormItem.active физическое лицо
    .participaintRow &nbsp;
    .participaintRow
        .participaintRowBodySubTitle Сумма к оплате: <b>{{user.price}} 000 рублей</b>

        .participaintRowContent
            p Оплата банковской картой и через Систему Быстрых Платежей будет доступна позже.
    .participaintRow
        .participaintRowBodySubTitle
            form(method='POST' action='https://ifcongress.server.paykeeper.ru/create/')
                //input( type='hidden' name='sum' :value='user.price*1000')


                input( type='hidden' name='sum' :value='1')
                input( type='hidden' name='clientid' :value='user.id')
                input( type='hidden' name='client_email' :value='user.email')
                input( type='hidden' name='client_phone' :value='user.phone')
                input( type='hidden' name='user_result_callback' value='https://ifcongress.ru/pay_result')
                input(type='hidden' name='orderid' :value='user.invoice')
                input(type='hidden' name='service_name' :value="'Оказание услуг по организации участия представителя Заказчика в конгрессе «Финансовый конгресс Банка России» 6-7 июля 2023 года в городе Санкт-Петербург. Cчет-Договор ФК-'+user.invoice")
                input.regSubmit(type='submit' value='Перейти к оплате')
    .participaintRow &nbsp;
    .participaintRow
        p#paykeeper
            .participaintRowBodySubTitle Оплата производится по банковской карте или по QR-коду Системы Быстрых Платежей:
            p
                ul
                    li Осуществляется через Платежную платформу <a class="inline" href="https://paykeeper.ru/" target="_blank">PayKeeper</a>;
                    li Для оплаты товара банковской картой при оформлении заказа выберите способ оплаты: банковской картой;
                    li К оплате принимаются платежные карты: МИР, VISA Inc, MasterCard WorldWide, выпущенные российскими банками.
            p
                .participaintRowContent
                    div.
                        При оплате заказа банковской картой обработка платежа происходит на авторизационной странице банка, где Вам необходимо ввести данные Вашей банковской карты.
                    div Если Ваша карта подключена к услуге 3D-Secure, Вы будете автоматически переадресованы на страницу банка, выпустившего карту, для прохождения процедуры аутентификации;
                    div Информацию о правилах и методах дополнительной идентификации уточняйте в Банке, выдавшем Вам банковскую карту.
                    div Безопасность обработки интернет-платежей через платежный шлюз банка гарантирована международным сертификатом безопасности PCI DSS. Передача информации происходит с применением технологии шифрования TLS.  Эта информация недоступна посторонним лицам;
                    div Для оплаты через Систему Быстрых Платежей отсканируйте банковским приложением предоставленный QR-код. Далее следуйте инструкциям вашего банка.
            p
                .participaintRowContent
                    img(src="/static/images/visa.png" loading="lazy")

