extends layout
block head
    title="Финансовый Когресс Банка России"
block content
    include elems/mainPage
    //include elems/menu
    include elems/news
    include elems/quotes
    include elems/partners
    include elems/faq
    include elems/footer
    include elems/mobileMenu
    .upBtn.flex.center
        include svg/arrowRightRed.svg




    script.
        let apiUrl = !{JSON.stringify(apiUrl)}
    script(src="/static/javascripts/utils.js")
    script(src="/static/javascripts/mainScript.js")
