extends layout
block head
    title="ifcongress"
block content
    include elems/mainPage
    include elems/menu
    include elems/news
    include elems/quotes
    include elems/partners
    include elems/faq
    include elems/footer


    script(src="/static/javascripts/utils.js")
    script(src="/static/javascripts/mainScript.js")
