extends layout
block head
    if ru
        title="Финансовый конгресс Банка России"
    else
        title="FINANCIAL CONGRESS OF THE BANK OF RUSSIA"
block content
    include elems/mainPage
    //include elems/menu
    include elems/news
    include elems/quotes
    include elems/partners
    include elems/place
    include elems/faq
    include elems/footer
    include elems/mobileMenu





    script.
        let apiUrl = !{JSON.stringify(apiUrl)}
    script(src="/static/javascripts/utils.js")
    script(src="/static/javascripts/mainScript.js")
