extends layout
block head
    title="Финансовый Когресс Банка России:  Подтверждение"
block content
    include elems/internalHead
    .tower#registration
        .subTower
            .partnersDecor
                include svg/regDecor.svg

            .sectionTitle Спасибо!
    include elems/footer
        include elems/mobileMenu
