doctype html
html(lang="ru")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(charset="utf-8")
    <meta name="robots" content="noindex">

    link(rel='stylesheet', href='/static/stylesheets/style.css')
    link(rel='stylesheet', href='/static/stylesheets/1320.css')
    link(rel='stylesheet', href='/static/stylesheets/980.css')
    if lang
      script let lang=!{JSON.stringify(lang)}
    else
      script let lang=''
    block head
  body
    block content
