extends layout

block head
    title="Новости"
block content
    include elems/internalHead
    .tower#newsPage
        .subTower
            .newsDecor
                include svg/newsDecor.svg
            .sectionTitle Новости

            .newsWr
                each n in news
                    .oNewsItem(id="news"+n.id)
                        .newsHeadTitleBox
                            .newsHeadDate #{n.date}
                            .newsHeadTitle #{n.title}
                        .newsBodyRow.flex.left
                            if n.photoid
                                .newsHeadPhoto
                                    img(src="https://ifcongress.ru/static/image/middle/"+n.photoid loading="lazy")
                            .newsBody
                                .newsBodyText #{n.text}



    include elems/footer
    script(src="/static/javascripts/utils.js")
    script(src="/static/javascripts/mainScript.js")

