extends layout

block head
    title="Программа"
block content
    include elems/internalHead
    .tower#newsPage
        .subTower
            .oNewsDecor
                include svg/newsDecor.svg
            .newsDecor2
                include svg/newsDecor2.svg
            .sectionTitle Программа

            .pgmWr
                each day in pgm
                    .oPgmItem(id="day"+day.id)
                        .pgmHeadDate #{day["title_"+lang]}





    include elems/footer
    include elems/mobileMenu

    script(src="/static/javascripts/utils.js")
    script(src="/static/javascripts/mainScript.js")


