extends layout

block head
    if ru
        title="Финансовый Когресс Банка России: Вход в личный кабинет"
    else
        title="FINANCIAL CONGRESS OF THE BANK OF RUSSIA"
block content
    include elems/internalHead
    .tower#participantsPage(class=ru?"":"en")
        .subTower
            .oNewsDecor
                include svg/pgmDecor.svg
            .newsDecor2
                include svg/pgmDecor2.svg
            if ru
                .sectionTitle Личный кабинет
            else
                .sectionTitle PERSONAL ACCOUNT
            .regBox.participaintHead
                .menuItem.flex.center.left
                    .menuItemBox
                    if ru
                        .menuItemText Введите email, указанный в заявке
                    else
                        .menuItemText ENTER THE EMAIL ADDRESS THAT YOU INDICATED IN THE APPLICATION EMAIL

                //.participaintRow
                    div Если участник зарегистрирован, будет отправлена персональная ссылка на личный кабинет
                .regRow#emailRow
                    .regRowGroup.flex.left
                        .recLabel.reg287 email
                        input#emailInput.reqInput( name="email" email type="email" )

                .participaintRow
                    if ru
                        .regSubmit#send Отправить ссылку
                    else
                        .regSubmit#send  GET A PERSONAL LINK
                .participaintRow#confirm(style="display:none")
                    div Eсли введенный email был зарегистрирован, ссылка доступа в личный кабинет отправлена.
                    div
                        b Спасибо!


    include elems/footer
    include elems/mobileMenu

    script(src="/static/javascripts/utils.js")
    script(src="/static/javascripts/mainScript.js")
    script.
        send.onclick =async  () => {

            if (!(emailInput.value && emailInput.value.length && validateEmail(emailInput.value) )) {
                emailInput.focus();
                emailRow.classList.add("error")
                return;
            }

            emailRow.classList.remove("error")
            send.style.display = "none"
            await postJson('https://api.ifcongress.ru/api/loginToLK',{email:emailInput.value})
            document.getElementById("confirm").style.display = "block"
        }
