extends layout

block head
    title="Финансовый Когресс Банка России: Участникам"
block content
    include elems/internalHead
    .tower#participantsPage
        .subTower
            .oNewsDecor
                include svg/pgmDecor.svg
            .newsDecor2
                include svg/pgmDecor2.svg
            .sectionTitle Участникам
            .regBox
                .reqMenuBox
                    .reqMenu.flex.left
                        a.regMenuItem(onclick="uslovia.scrollIntoView({behavior:'smooth'})") Формат и стоимость участия
                        a.regMenuItem(onclick="kakstatuchastnikon.scrollIntoView({behavior:'smooth'})") Как стать участником
                        a.regMenuItem(onclick="smi.scrollIntoView({behavior:'smooth'})") Информация для СМИ
                        a.regMenuItem(onclick="lk.scrollIntoView({behavior:'smooth'})") О Личном Кабинете
            .regBox#uslovia
                .participaintRow
                    .menuItem.flex.center.left
                        .menuItemBox
                        .menuItemText Условия участия
                .participaintRow
                    .participaintRowImpotant
                        .oSessionHallTitle.impotant Формат участия очный
                            .oSessionTitle Статус “Участник” предусматривает:
                        .participaintRowBody
                            ul
                                li Участие во всех мероприятиях деловой и культурной программ Конгресса (кроме мероприятий по специальным приглашениям);
                                li Специальные условия  при бронировании в официальных отелях Конгресса;
                                li Трансферы из официальных отелей Конгресса на площадку проведения деловой программы и обратно;
                                li Трансферы из аэропорта “Пулково” и от Московского вокзала в официальные отели Конгресса и на площадку проведения деловой программы 5 и 6 июля и обратно - 7 и 8 июля.
                            p
                                .participaintRowBodySubTitle
                                    b Стоимость участия одного человека: 150&nbsp;000&nbsp;рублей (НДС не облагается)
                            p
                                .participaintRowBodySubTitle
                                    a.regSubmit(href="/registration/" + lang) Подать заявку
            .regBox#kakstatuchastnikon
                .participaintRow
                    .menuItem.flex.center.left
                        .menuItemBox
                        .menuItemText Как стать участником – порядок действий

                    .participaintRowHead 1. Заполните на сайте заявку на участие
                    .participaintRowBody
                        ul
                            li Введите основные регистрационные данные;
                            li Введите данные контактного лица, если все дальнейшие коммуникации с организаторами за участника будет осуществлять другой человек (например, референт);
                            li Введите данные компании, которую представляет участник (достаточно ИНН, остальные данные загрузятся автоматически из базы ФНС);
                            li Подтвердите принятие пользовательского соглашения и соглашения об обработке персональных данных;
                            li Отправьте заявку;
                            li На email, который указан в заявке, придет письмо-оповещение о получении заявки.
                    .participaintRowBodySubTitle
                        a.regSubmit.mt-3(href="/registration/" + lang) Подать заявку

                .participaintRow
                    .participaintRowHead 2. Дождитесь подтверждения вашей заявки оргкомитетом Конгресса
                    .participaintRowBody
                        ul
                            li На email, указанный в заявке, придет уведомление о подтверждении и ссылка на Личный кабинет;
                            li Если в заявке указано контактное лицо участника, то уведомление придет на email контактного лица.
                .participaintRow
                    .participaintRowHead 3. Оплатите участие через  Личный кабинет
                    .participaintRowBody
                        ul
                            li Войдите в Личный кабинет (ЛК) по уникальной ссылке, присланной на электронную почту;
                            li Если необходимо, запросите доступ повторно: нажмите в меню сайта кнопку “Личный кабинет” и введите email, указанный вами при регистрации;
                            li В ЛК пройдите в раздел “Оплата”;
                            li Выберите способ оплаты - как юридическое лицо по счету-договору или физическое лицо с оплатой по банковской карте или Системе Быстрых Платежей (QR-коду).
                    p
                        .participaintRowBodySubTitle
                            b Оплата от юридического лица:
                        ul
                            li В реквизитах компании плательщика по умолчанию указаны данные вашей компании из заявки;
                            li Если счет оплачивает другая организация - введите ее ИНН и нажмите “Загрузить из ФНС”;
                            li Нажмите “Получить счет”;
                            li Загрузите электронный документ Счета-Договора из ЛК и передайте его на оплату;

                            li После того, как оплату подтвердят организаторы, Вам придет email на адрес, указанный в заявке, о подтверждении статуса Участника;
                            li Вам будут предоставлены все возможности Личного Кабинета.
                    p
                        .participaintRowContent Справочно: реквизиты получателя платежа размещены <a href="/static/key/payRules?open=open" class="inline"> здесь</a>.

                    p#paykeeper
                        .participaintRowBodySubTitle
                            b  Оплата по банковской карте или по QR-коду Системы Быстрых Платежей:
                        p
                            ul
                                li Осуществляется через Платежную платформу <a class="inline" href="https://paykeeper.ru/" target="_blank">PayKeeper</a>;
                                li Для оплаты товара банковской картой при оформлении заказа выберите способ оплаты: банковской картой;
                                li К оплате принимаются платежные карты: МИР, VISA Inc, MasterCard WorldWide, выпущенные российскими банками.
                        p
                            .participaintRowContent
                                div.
                                    При оплате заказа банковской картой обработка платежа происходит на авторизационной странице банка, где Вам необходимо ввести данные Вашей банковской карты.
                                div Если Ваша карта подключена к услуге 3D-Secure, Вы будете автоматически переадресованы на страницу банка, выпустившего карту, для прохождения процедуры аутентификации;
                                div Информацию о правилах и методах дополнительной идентификации уточняйте в Банке, выдавшем Вам банковскую карту.
                                div Безопасность обработки интернет-платежей через платежный шлюз банка гарантирована международным сертификатом безопасности PCI DSS. Передача информации происходит с применением технологии шифрования TLS.  Эта информация недоступна посторонним лицам;
                                div Для оплаты через Систему Быстрых Платежей отсканируйте банковским приложением предоставленный QR-код. Далее следуйте инструкциям вашего банка.
                        p
                            .participaintRowContent
                                img(src="/static/images/visa.png" loading="lazy")



                .participaintRow
                    .participaintRowHead 4. Отказ от участия
                    .participaintRowBody
                        ul
                            li До 23 июня 2023 года Вы можете отказаться от участия с полным возвратом денежных средств;
                            li Для извещения организаторов об отказе воспользуйтесь формой Обратная связь в Личном кабинете или известите организаторов электронной почтой или по телефону.
                .participaintRow
                    .participaintRowHead 5. Замена участника
                    .participaintRowBody
                        ul
                            li Вы можете заменить участника не позднее 22&nbsp;июня&nbsp;2023&nbsp;года, связавшись с организаторами по электронной почте или через чат-бот Конгресса.
                .participaintRow
                    .participaintRowHead  6. Получение бэйджа
                    .participaintRowBody
                        p
                            .participaintRowBodySubTitle Получить бэйдж участника можно:
                        ul
                            li В Москве, курьерской доставкой – с&nbsp;26&nbsp;июня по&nbsp;4&nbsp;июля;
                            li В Санкт-Петербурге, на стойках регистрации в официальных- отелях-Конгресса – с&nbsp;5&nbsp;июля;
                            li В Санкт-Петербурге, на площадке деловой программы Конгресса – c&nbsp;5&nbsp;июля.
                        p

                            .participaintRowContent Подробная информация о сроках доставки бейджей и порядке работы пунктов регистрации будет опубликована дополнительно.
                        p
                            .participaintRowBodySubTitle
                                a.regSubmit(href="/registration/" + lang) Подать заявку
                .participaintRow &nbsp;

                .participaintRow#smi
                    .menuItem.flex.center.left
                        .menuItemBox
                        .menuItemText Информация для СМИ
                    p
                        .participaintRowContent Каждый представитель СМИ заполняет заявку индивидуально. Если от одного СМИ планируется аккредитовать несколько человек, процедура повторяется для каждого.
                    p
                        .participaintRowHead  Пройдите в раздел <a class="inline" href="/smi/#{lang}">Аккредитация СМИ</a> и заполните заявку
                        .participaintRowBody
                            ul
                                li Введите основные регистрационные данные;
                                li Введите данные компании - учредителя СМИ (достаточно ИНН, остальные данные загрузятся автоматически из базы ФНС);
                                li Введите название СМИ (оно же будет указано на бэйдже);
                                li Подтвердите принятие пользовательского соглашения и соглашения об обработке персональных данных;
                                li Отправьте заявку;
                                li На email, который указан в заявке, придет оповещение о получении заявки;
                                li Дождитесь подтверждения аккредитации оргкомитетом Конгресса;
                                li На email, указанный в заявке, придет уведомление и ссылка на Личный Кабинет.

                    //p
                        .participaintRowBodySubTitle
                            a.regSubmit(href="/smi/" + lang) Аккредитовать представителя СМИ
                .participaintRow &nbsp;
                .participaintRow#lk
                    .menuItem.flex.center.left
                        .menuItemBox
                        .menuItemText Личный кабинет
                    p

                        .participaintRowContent Личный кабинет становится доступен спикерам, участникам и представителям СМИ после подтверждения участия или аккредитации оргкомитетом Конгресса.
                    p
                        .participaintRowContent Доступен по индивидуальной ссылке из письма, присланного организаторами, на адрес электронной почты, указанный в заявке. Если в заявке было указано контактное лицо, то сообщение придет на адрес контактного лица.
                    p
                        .participaintRowContent Если необходимо, запросите доступ повторно: нажмите в меню сайта кнопку Личный кабинет и введите адрес электронной почты, указанный вами при регистрации. На этот адрес придет сообщение со ссылкой.










    include elems/footer
    include elems/mobileMenu

    script(src="/static/javascripts/utils.js")
    script(src="/static/javascripts/mainScript.js")


