extends layout

block head
    if ru
        title="Финансовый Конгресс Банка России: Видео"
    else
        title="FINANCIAL CONGRESS OF THE BANK OF RUSSIA: Videos"
    <meta name="robots" content="noindex">
    link(rel='stylesheet', href='/static/lib/video-js.min.css')

block content
    include elems/internalHead
    .tower#newsPage
        .subTower
            .oNewsDecor
                include svg/photoDecor.svg
            .newsDecor2
                include svg/photoDecor2.svg
            if ru
                .sectionTitle Видео Конгресса
            else
                .sectionTitle  Video gallery

            .pgmDownloadBtnWr
            .photosWr
                each day in days
                    .photoDayItem(id="day" + day.id)
                        .photoFolders
                            each folder in day.folders
                                a.photoFolder(id="folder"+folder.id onclick="showVideoFile('"+folder.session.videofile+"', true)")
                                    .photoFolderBox
                                        .photoFolderImage
                                            img(src="/static/image/middle/" + folder.coverphotoid loading="lazy")
                                        .photoFolderImage.flex.center
                                            .photoFolderPlay
                                                <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0 80L80 80L80 -3.05176e-05L6.99382e-06 -3.75114e-05L0 80Z" fill="#BB3E3F"/>
                                                <path d="M30.666 23.9933V56.66L56.3327 40.3267L30.666 23.9933Z" fill="#E59B40"/>
                                                </svg>

                                    .photoDescrBox
                                        .photoDescrBoxDate #{day["title_" + lang]}
                                        .photoDescrBoxTitle #{folder["title" + lang]}




    include elems/footer
    include elems/mobileMenu

    script(src="/static/lib/video.min.js")
    script(src="/static/javascripts/utils.js")
    script(src="/static/javascripts/mainScript.js")


