extends layout

block head
    if ru
        title="Финансовый Конгресс Банка России: Программа"
    else
        title="FINANCIAL CONGRESS OF THE BANK OF RUSSIA: Programme"
block content
    .tower
        .subTower
            .regBox
                include personal/sectRestorant
    script(src="/static/javascripts/utils.js")
    script(src="/static/javascripts/mainScript.js")
    script.

