extends layout

block head
    if ru
        title="Финансовый Когресс Банка России:  Регистрация"
    else
        title="FINANCIAL CONGRESS OF THE BANK OF RUSSIA:  APPLICATION FORM"

block content
    include elems/internalHead
    .tower#registration
        .subTower
            .partnersDecor
                include svg/regDecor.svg
            if ru
                if typeid==4
                    .sectionTitle Аккредитация
                else if typeid==9
                    .sectionTitle Заявка на регистрацию
                else
                    .sectionTitle Заявка на участие
            else
                if typeid == 4
                    .sectionTitle APPLICATION FORM
                else if typeid == 9
                    .sectionTitle APPLICATION FORM
                else
                    .sectionTitle APPLICATION FORM

            .regBox
                .menuItem.flex.center.left.mt-4
                    .menuItemBox
                    if ru
                        if typeid==4
                            .menuItemText Представитель СМИ
                        else if typeid==9
                            .menuItemText Представитель партнеров конгресса
                        else
                            .menuItemText Участник
                    else
                        if typeid == 4
                            .menuItemText PARTICIPANT
                        else if typeid == 9
                            .menuItemText PARTICIPANT
                        else
                            .menuItemText PARTICIPANT

                .regRow
                    .reqPhoto2.reg287(v-on:click="uploadPhoto()" v-bind:class="{errorPhoto:photoError}")
                        .reqPhotoBox2
                            .reqPhotoBox2Photo
                                img(v-if="user.photoid" :src="'/static/image/middle/'+user.photoid")
                                #noFoto(v-else)
                                    if ru
                                        div Загрузить фото<br>для пропуска
                                        div(style="font-size: .8em; margin-top: 4px;") анфас,<br>на светлом фоне
                                    else
                                        div PLEASE UPLOAD A PHOTO<br>FOR YOUR BADGE
                                        div(style="font-size: .8em; margin-top: 4px;") FORWARD-FACING,<br>LIGHT BACKGROUND

                        .reqRowErrorMessage(v-if="photoError") Фотография должна быть загружена

                //.regRow
                    .reqPhoto.reg287(v-on:click="uploadPhoto()" v-bind:class="{errorPhoto:photoError}")
                        .reqPhotoBox
                            img(v-if="user.photoid" :src="'/static/image/middle/'+user.photoid")
                            #noFoto(v-else)
                                div Загрузить фото<br>для аккредитации

                                //.photoLoader(v-if="photoIsLoading")
                                        include svg/loader.svg
                    .reqRowErrorMessage(v-if="photoError") Фотография должна быть загружена


                if !typeid && typeid!=4
                    .regRow.checkBox
                        .regCheckBox.green.flex.left(v-on:click="user.typeid=user.typeid==1?3:1" v-bind:class="{active:user.typeid==3}")
                            div
                                .regCheckBoxBox
                            div
                                if ru
                                    .regCheckBoxText( ) Я приглашен организаторами в качестве спикера
                                else
                                    .regCheckBoxText I HAVE BEEN INVITED AS A SPEAKER


                .regRow(v-bind:class="{error:errors.f}")
                    .regRowGroup.flex.left
                        if ru
                            .recLabel.reg287 Фамилия
                        else
                            .recLabel.reg287 LAST NAME
                        input.reqInput(v-model="user.f" must name="f")
                .regRow(v-bind:class="{error:errors.i}")
                    .regRowGroup.flex.left
                        if ru
                            .recLabel.reg287 Имя
                        else
                            .recLabel.reg287 FIRST NAME
                        input.reqInput(v-model="user.i" must name="i")
                if ru
                    .regRow(v-bind:class="{error:errors.o}")
                        .regRowGroup.flex.left
                            .recLabel.reg287 Отчество
                            input.reqInput(v-model="user.o" must name="o")
                .regRow(v-bind:class="{error:errors.passportNumber}")
                    .regRowGroup.flex.left
                        if ru
                            .recLabel.reg287  Серия и номер паспорта
                            input.reqInput(v-model="user.passportNumber" must name="passportNumber" placeholder="ФОРМАТ: С ПРОБЕЛОМ, КАК В ДОКУМЕНТЕ")
                        else
                            .recLabel.reg287 PASSPORT NUMBER
                            input.reqInput(v-model="user.passportNumber" must name="passportNumber" placeholder="FORMAT: EXACTLY AS IN THE DOCUMENT")
                if ru
                    .regRow(v-bind:class="{error:errors.passportDate}")
                    .regRowGroup.flex.left
                        .recLabel.reg287 дата выдачи
                        input.reqInput(v-model="user.passportDate" must name="passportDate" placeholder="ФОРМАТ: КАК В ДОКУМЕНТЕ")
                    .regRow(v-bind:class="{error:errors.passportCode}")
                        .regRowGroup.flex.left
                            .recLabel.reg287 код подразделения
                            input.reqInput(v-model="user.passportCode" must name="passportCode" placeholder="ФОРМАТ: КАК В ДОКУМЕНТЕ")
                .regRow(v-bind:class="{error:errors.address}")
                    .regRowGroup.flex.left
                        if ru
                            .recLabel.reg287 адрес регистрации
                            input.reqInput(v-model="user.address" must name="address" placeholder="ФОРМАТ: КАК В ДОКУМЕНТЕ")
                        else
                            .recLabel.reg287 Страна
                            input.reqInput(v-model="user.address" must name="address" placeholder="")


                .regRow(v-bind:class="{error:errors.email}")
                    .regRowGroup.flex.left
                        .recLabel.reg287 email
                        input.reqInput(v-model="user.email" must name="email" email )
                .regRow(v-bind:class="{error:errors.phone}")
                    .regRowGroup.flex.left
                        if ru
                            .recLabel.reg287 телефон
                        else
                            .recLabel.reg287 PHONE NUMBER
                        input.reqInput(v-model="user.phone" must name="phone" placeholder="ФОРМАТ: +X 000 000 0000")
                .regRow(v-bind:class="{error:errors.position}")
                    .regRowGroup.flex.left
                        if ru
                            .recLabel.reg287 должность
                        else
                            .recLabel.reg287 POSITION
                        input.reqInput(v-model="user.position" must  name="position" placeholder="" )

                if !typeid && typeid!=4
                    .regRow
                        .regCheckBox.flex.left(v-bind:class="{active:user.isProxy}" v-on:click="user.isProxy=!user.isProxy")
                            div
                                .regCheckBoxBox
                            div
                                if ru
                                    .regCheckBoxText есть Контактное лицо
                                else
                                    .regCheckBoxText CONTACT PERSON’S DETAILS (IF APPLICABLE)

                    .regIsProxy(v-if="user.isProxy")
                        .regRow(v-bind:class="{error:errors.proxyi}")
                            .regRowGroup.flex.left
                                if ru
                                    .recLabel.reg287 Имя
                                else
                                    .recLabel.reg287 Name
                                input.reqInput(v-model="user.proxyi" must name="proxyi")
                        .regRow(v-bind:class="{error:errors.proxyemail}")
                            .regRowGroup.flex.left
                                .recLabel.reg287 email
                                input.reqInput(v-model="user.proxyemail" must email name="proxyemail")
                        .regRow(v-bind:class="{error:errors.proxyphone}")
                            .regRowGroup.flex.left
                                if ru
                                    .recLabel.reg287 телефон
                                    input.reqInput(v-model="user.proxyphone" must name="proxyphone" placeholder="ФОРМАТ: +7 000 000 0000" )
                                else
                                    .recLabel.reg287 PHONE NUMBER
                                    input.reqInput(v-model="user.proxyphone" must name="proxyphone" placeholder="FORMAT: +X 000 000 0000" )
                if !typeid && typeid!=4
                    .regRow.topdivaider &nbsp;
                else
                    .regRow &nbsp;
                if typeid==4
                    .regRow
                        .menuItem.flex.center.left
                            .menuItemBox
                            .menuItemText СМИ, которое вы&nbsp;представляете
                    .regRow
                        .regRowGroup.flex.left
                            .recLabel.reg287 Название
                            input.reqInput( v-model="user.company.name" must)
                    .regRow
                        .regRowGroup.flex.left
                            .recLabel.reg287 Сайт
                            input.reqInput( v-model="user.company.address" placeholder="" must)


                else
                    if ru
                        .regRow
                            .menuItem.flex.center.left
                                .menuItemBox
                                .menuItemText Компания, которую вы&nbsp;представляете
                        .regRow(v-bind:class="{error:errors.company.inn}")
                            .regRowGroup.flex.left()
                                .recLabel.reg287 ИНН
                                input#inn.reqInput(v-on:change="if(innStatus.state==2) clear('company')" v-model="user.company.inn"  type="number")
                            .reqRowErrorMessage(v-if="innStatus.message") {{innStatus.message}}

                            .regCheckBox.green.flex.mobileWrap.left(v-on:click="loadInn('company', innStatus)" v-bind:class="{active:innStatus.state==2,loading:innStatus.state==1}" style="margin-top: 6px;" )
                                .regCheckBoxText(style="margin-left:0") <span class="innBtn">Загрузить из ФНС </span>
                                .regCheckBoxBox.desktop.opacity0(v-bind:class="{opacity100:innStatus.state==1}")
                                    .FNSloader
                                        include svg/loader.svg
                                //if typeid==4
                                //    .regCheckBoxComment Нажмите «Загрузить из ФНС», чтобы автоматически заполнить остальные реквизиты

                                .regCheckBoxComment Нажмите «Загрузить из ФНС», чтобы автоматически заполнить остальные реквизиты
                                .FNSloader.mobile.opacity0(v-bind:class="{opacity100:innStatus.state==1}")
                                    include svg/loader.svg

                        .regRow
                            .regRowGroup.readonly.flex.left
                                .recLabel.reg287 Наименование
                                input.reqInput( readonly v-model="user.company.name")
                        .regRow
                            .regRowGroup.readonly.flex.left
                                .recLabel.reg287 КПП
                                input.reqInput(readonly v-model="user.company.kpp")
                        .regRow
                            .regRowGroup.readonly.flex.left
                                .recLabel.reg287 ОГРН
                                input.reqInput(readonly v-model="user.company.ogrn")
                        .regRow
                            .regRowGroup.readonly.flex.left
                                .recLabel.reg287 адрес
                                input.reqInput(readonly v-model="user.company.address")
                        .regRow
                            .regRowGroup.readonly.flex.left
                                .recLabel.reg287 руководитель
                                input.reqInput(readonly v-model="user.company.director")
                        .regRow
                            .regRowGroup.flex.left
                                .recLabel.reg287 телефон
                                input.reqInput( v-model="user.company.phone" placeholder="ФОРМАТ: +7 000 000 0000")
                        .regRow
                            .regRowGroup.flex.left
                                if typeid==4
                                    .recLabel.reg287  Название издания
                                else
                                    .recLabel.reg287  Короткое наименование
                                input.reqInput( v-model="user.company.shortName" )
                    else
                        .regRow
                            .menuItem.flex.center.left
                                .menuItemBox
                                .menuItemText COMPANY THAT YOU REPRESENT
                        .regRow
                            .regRowGroup.flex.left
                                .recLabel.reg287 COMPANY NAME
                                input.reqInput( v-model="user.company.name" )


                ////////////////
                .regRow &nbsp;
                .regRow.checkBox
                    .regCheckBox.green.flex.left(v-on:click="user.isPersonalAgreement=!user.isPersonalAgreement" v-bind:class="{active:user.isPersonalAgreement}")
                        div
                            .regCheckBoxBox
                        div
                            if ru
                                .regCheckBoxText( ) ПРИНИМАЮ ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ
                                    a.gray(onclick="event.preventDefault();window.open('/static/key/agr"+lang+"?open=open')")  (посмотреть)
                            else
                                .regCheckBoxText( )  I HEREBY ACCEPT THE TERMS OF SERVICE
                                    a.gray(onclick="event.preventDefault();window.open('/static/key/agr"+lang+"?open=open')") (SEE DETAILS)

                    .reqRowErrorMessage(v-if="isPersonalAgreementError && !user.isPersonalAgreement") Cоглашение не принято
                .regRow.checkBox
                    .regCheckBox.green.flex.left(v-on:click="user.isTerms=!user.isTerms" v-bind:class="{active:user.isTerms}")
                        div
                            .regCheckBoxBox
                        div
                            if ru
                                .regCheckBoxText I HEREBY AGREE TO HAVE MY PERSONAL DATA PROCESSED
                                    a.gray(   onclick="event.preventDefault();window.open('/static/key/pers"+lang+"?open=open')")  (посмотреть)
                            else
                                .regCheckBoxText СОГЛАШАЮСЬ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ
                                    a.gray(   onclick="event.preventDefault();window.open('/static/key/pers" + lang + "?open=open')")  (SEE DETAILS)
                    .reqRowErrorMessage(v-if="isTermsError && !user.isTerms") Cоглашение не принято

                .regRow.desktop &nbsp;
                .regRow &nbsp;

                .regRow(v-if="isLodinng")
                    .regSubmit()
                        include svg/loader.svg
                .regRow(v-else)
                    if typeid==4
                        .regSubmit(v-on:click="regSmi()" v-if="!isRegSuccess") подать заявку
                    else
                        .regSubmit(v-on:click="regUser()" v-if="!isRegSuccess") подать заявку
                    .regSuccess.flex.left(v-else)
                        .regCheckBox.success.flex.left()
                            .regCheckBoxBox
                                include svg/acceptGreen.svg
                            .regCheckBoxText ваша заявка успешно отправлена
                        .regSubmit(v-on:click="document.location.reload()" ) Создать новую заявку

    include elems/footer
    include elems/mobileMenu


    link(rel='stylesheet', href='/static/lib/cropper.min.css')
    script(src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js")
    script.

        let apiUrl = !{JSON.stringify(apiUrl)}
        let frontUrl = !{JSON.stringify(apiUrl)}
    if typeid == 4
        script.
            let type=4
    if typeid == 9
        script.
            let type = 9
    script(src="/static/javascripts/utils.js")
    script(src="/static/javascripts/mainScript.js")
    script(src="/static/lib/vue.min.js")
    script(src="/static/lib/cropper.min.js")
    script(src="/static/javascripts/regScript.js")
