extends layout

block head
    if ru
        title="Финансовый Конгресс Банка России: Фото"
    else
        title="FINANCIAL CONGRESS OF THE BANK OF RUSSIA: Photos"
    <meta name="robots" content="noindex">
block content
    include elems/internalHead
    .tower#newsPage
        .subTower
            .oNewsDecor
                include svg/photoDecor.svg
            .newsDecor2
                include svg/photoDecor2.svg
            if ru
                .sectionTitle Фото Конгресса
            else
                .sectionTitle  Photo


            .photosWr
                .photoFoldersHead.flex
                    .photoFoldersHeadTitleBox
                        .photoFoldersHeadTitleDate !{folder.day["title_"+lang]}
                        .photoFoldersHeadTitle !{folder["title"+lang]}
                    a.photoFoldersHeadRetBtn(href="/photos/"+lang+"#folder"+folder.id) ВЕРНУТЬСЯ
                .photoFolders
                            each photo in folder.photos
                                .photoFolder(href="")
                                    .photoFolderBox
                                        .photoFolderImage
                                            img(src="/static/image/middle/" + photo.fileid loading="lazy" onclick="fullScreenPhoto(this)")
                                            a.photoFolderCount.flex.center(href="/static/image/hi/" + photo.fileid download="ifcongress_photo.png")
                                                <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M14 20.6667L5.66663 12.3334L7.99996 9.91669L12.3333 14.25V0.666687H15.6666V14.25L20 9.91669L22.3333 12.3334L14 20.6667ZM0.666626 27.3334V19H3.99996V24H24V19H27.3333V27.3334H0.666626Z" fill="#BB3E3F"/>
                                                </svg>









    include elems/footer
    include elems/mobileMenu

    script(src="/static/javascripts/utils.js")
    script(src="/static/javascripts/mainScript.js")
    script.
        function fullScreenPhoto(elem){
            createPopUp("/fullScreenPhoto")
        }


