extends layout

block head
    if ru
        title="Финансовый Конгресс Банка России: Программа"
    else
        title="FINANCIAL CONGRESS OF THE BANK OF RUSSIA: Programme"
block content
    include personal/playerWindow
