extends layout

block head
    title="Финансовый Когресс Банка России: Вход в личный кабинет"
block content
    include elems/internalHead
    .tower#participantsPage
        .subTower
            .oNewsDecor
                include svg/pgmDecor.svg
            .newsDecor2
                include svg/pgmDecor2.svg
            .sectionTitle Вход в личный кабинет
            .regBox.participaintHead
                .menuItem.flex.center.left
                    .menuItemBox
                    .menuItemText Введите e-mail, указанный при регистрации
                .participaintRow
                    div Если участник зарегистрирован, будет отправлена персональная ссылка на личный кабинет
                .regRow()
                    .regRowGroup.flex.left
                        .recLabel.reg287 email
                        input.reqInput( name="email" email type="email" )

                .participaintRow
                    .regSubmit#send Отправить ссылку
                .participaintRow    &nbsp;
                .participaintRow#confirm(style="display:none")
                    div Eсли e-mail зарегистрирован, ссылка отправлена.
                    div Спаисибо!


    include elems/footer
    include elems/mobileMenu

    script(src="/static/javascripts/utils.js")
    script(src="/static/javascripts/mainScript.js")
    script.
        send.onclick = () => {
            alert(123)
            if (!send.value || send.value.length < 4) {
                send.focus();
                send.parentNode.parentNode.classList.add("error")
                return;
            }
            send.parentNode.parentNode.classList.remove("error")
            send.style.display = "none"
            confirm.style.display = "block"
        }
