extends layout

block head
    title="Программа"
block content
    include elems/internalHead
    .tower#participantsPage
        .subTower
            .oNewsDecor
                include svg/pgmDecor.svg
            .newsDecor2
                include svg/pgmDecor2.svg
            .sectionTitle Участникам
            .regBox
                .menuItem.flex.center.left
                    .menuItemBox
                    .menuItemText Условия участия
                .participaintRow
                    p
                        div Формат участия очный.
                        ul Статус “Участник” предусматривает:
                            li Участие во всех мероприятиях деловой и культурной программ Конгресса (кроме мероприятий по специальным приглашениям).
                            li Скидки при бронировании в официальных отелях Конгресса.
                            li Трансферы из официальных отелей Конгресса на площадку проведения деловой программы и обратно.
                            li Трансферы из аэропорта “Пулково” и Московского вокзала  в официальные отели Конгресса и на площадку проведения деловой программы 5 и 6 июля и обратно 7 и 8 июля, .
                    p
                        div Стоимость участия одного человека:150&nbsp;000&nbsp;рублей (НДС не облагается)
                    p
                        a.regSubmit(href="/registration/" + lang) Подать заявку
                .participaintRow &nbsp;

                .participaintRow
                    .menuItem.flex.center.left
                        .menuItemBox
                        .menuItemText Как стать участником – порядок действий
                .participaintRow
                    p
                        div Заполните на сайте <a href="registration/#{lang}">заявку</a> на участие
                        ul
                            li Введите основные регистрационные данные
                            li Введите данные контактного лица, если все дальнейшие коммуникации с организаторами за участника будет осуществлять другой человек (например, референт).
                            li Введите данные компании, которую представляет участник (достаточно ИНН, остальные данные загрузятся автоматически из базы ФНС).
                            li Подтвердите принятие пользовательского соглашения и соглашения об обработке персональных данных.
                            li Отправьте заявку.
                            li На email, который указан в заявке, придет письмо-оповещение о получении заявки.
                .participaintRow
                    div
                        a.regSubmit(href="/registration/" + lang) Подать заявку
                .participaintRow
                    p
                        div Дождитесь подтверждения вашей заявки оргкомитетом Конгресса.
                        ul
                                li На email, указанный в заявке, придет уведомление о подтверждении и ссылка на Личный кабинет.
                                li Если в заявке указано контактное лицо участника - то уведомление придет на email контактного лица.
                    p
                        div Оплатите участие через  Личный кабинет.
                        ul
                            li Войдите в Личный кабинет (ЛК) по уникальной ссылке, присланной на электронную почту.
                            li Если необходимо, запросите доступ повторно: нажмите в меню сайта кнопку “Личный кабинет” и введите email, указанный вами при регистрации.
                            li В ЛК пройдите в раздел “Оплата”.
                            li Выберите способ оплаты - как физическое лицо (оплата по банковской карте или QR-коду непосредственно на сайте) или как юридическое лицо по счету-договору.
                    p
                        div
                            b  Оплата по банковской карте или по QR-коду Системы Быстрых Платежей
                        ul
                            li Осуществляется через Платежную платформу <a href="https://paykeeper.ru/">PayKeeper</a>. Условия предоставления услуги и порядок работы.


                    p
                        div
                            b Оплата от юридического лица:
                        ul
                            li В реквизитах компании плательщика по умолчанию указаны данные вашей компании из заявки.
                            li Если счет оплачивает другая организация - введите ее ИНН и нажмите “Загрузить из ФНС”.
                            li Нажмите “Получить счет”
                            li Загрузите электронный документ Счета-Договора из ЛК и передайте его на оплату.
                    p
                        div После того, как оплату подтвердят организаторы, Вам придет Email на адрес, указанный в заявке, о подтверждении статуса Участника. Вам будут предоставлены все возможности Личного Кабинета








    include elems/footer
    include elems/mobileMenu

    script(src="/static/javascripts/utils.js")
    script(src="/static/javascripts/mainScript.js")


