extends layout

block head
    title="Программа"
block content
    include elems/internalHead
    .tower#newsPage
        .subTower
            .oNewsDecor
                include svg/newsDecor.svg
            .newsDecor2
                include svg/newsDecor2.svg
            .sectionTitle Программа

            .spkWr !{JSON.stringify(pgm)}
                each day in pgm
                    .oNewsItem(id="day"+day.id)
                        .newsHeadTitleBox
                        .newsHeadDate #{day["title"+lang]}





    include elems/footer
    include elems/mobileMenu

    script(src="/static/javascripts/utils.js")
    script(src="/static/javascripts/mainScript.js")


