extends layout

block head
    if ru
        title="Финансовый Конгресс Банка России: Фото"
    else
        title="FINANCIAL CONGRESS OF THE BANK OF RUSSIA: Photos"
    <meta name="robots" content="noindex">
block content
    include elems/internalHead
    .tower#newsPage
        .subTower
            .oNewsDecor
                include svg/photoDecor.svg
            .newsDecor2
                include svg/photoDecor2.svg
            if ru
                .sectionTitle Фото
            else
                .sectionTitle  Photo


            .photosWr
                .photoFoldersHead.flex
                    .photoFoldersHeadTitleBox
                        .photoFoldersHeadTitleDate !{folder.day["title_"+lang]}
                        .photoFoldersHeadTitle !{folder["title"+lang]}
                    a.photoFoldersHeadRetBtn(href="/photos/"+lang) ВЕРНУТЬСЯ
                .photoFolders
                            each photo in folder.photos
                                .photoFolder(href="")
                                    .photoFolderBox
                                        .photoFolderImage
                                            img(src="/static/image/middle/" + photo.fileid loading="lazy")







    include elems/footer
    include elems/mobileMenu

    script(src="/static/javascripts/utils.js")
    script(src="/static/javascripts/mainScript.js")


