extends layout

block head
    if ru
        title="Финансовый Когресс Банка России: Программа"
    else
        title="FINANCIAL CONGRESS OF THE BANK OF RUSSIA: Programme"
block content
    include elems/internalHead
    .tower#pgmPage
        .subTower
            .oNewsDecor
                include svg/pgmDecor.svg
            .newsDecor2
                include svg/pgmDecor2.svg
            if ru
                .sectionTitle Программа
            else
                .sectionTitle  Programme

            .pgmWr
                each day in pgm
                    .oPgmItem(id="day"+day.id)
                        .pgmHeadDate #{day["title_"+lang]}
                        .oTimeslots
                            if day.timeslots
                                include elems/timeslots







    include elems/footer
    include elems/mobileMenu

    script(src="/static/javascripts/utils.js")
    script(src="/static/javascripts/mainScript.js")


