extends layout

block head
    title="Программа"
block content
    include elems/internalHead
    .tower#participantsPage
        .subTower
            .oNewsDecor
                include svg/pgmDecor.svg
            .newsDecor2
                include svg/pgmDecor2.svg
            .sectionTitle Участникам
            .regBox
                .menuItem.flex.center.left
                    .menuItemBox
                    .menuItemText Условия участия
                .participaintRow
                    p
                        div Формат участия очный.
                        ul Статус “Участник” предусматривает:
                            li Участие во всех мероприятиях деловой и культурной программ Конгресса (кроме мероприятий по специальным приглашениям).
                            li Скидки при бронировании в официальных отелях Конгресса.
                            li Трансферы из официальных отелей Конгресса на площадку проведения деловой программы и обратно.
                            li Трансферы из аэропорта “Пулково” и Московского вокзала  в официальные отели Конгресса и на площадку проведения деловой программы 5 и 6 июля и обратно 7 и 8 июля, .
                    p
                        div Стоимость участия одного человека:150&nbsp;000&nbsp;рублей (НДС не облагается)







    include elems/footer
    include elems/mobileMenu

    script(src="/static/javascripts/utils.js")
    script(src="/static/javascripts/mainScript.js")


