.fullScreenBox
    .menuItem.flex.left
        .menuItemBox
        if ru
            .menuItemText кадрирование фото
        else
            .menuItemText crop you image


    .fullScreencontent.mt-3

        .photoEditorImageBox
            img#photoEditorImage
        .flex.left.mt-3
            if ru
                .btn.btn-small.btn-success#photoSaveBtn Сохранить
            else
                .btn.btn-small.btn-success#photoSaveBtn Crop
    .fullScreenCloseNotSave.flex.center
        iconify-icon(icon="material-symbols:close")


