.pSpkHead.flex.center
    .pSpkPhotoWR
        .pSpkBg
        .pSpkPhoto
    .pSpkNameWR
        .pSpkNameBox
            .pSpkName #{spk["i"+lang]}
            .pSpkName #{spk["f"+lang]}
            .pSpkCompany  #{spk["company"+lang]}

