.pSpkTower
    .pSpkHead.flex.center
        .pSpkPhotoWR
            .pSpkBg
            .pSpkPhoto
                img(src=(spk.photoid ? ("/static/image/middle/" + spk.photoid) : "/static/images/nouser.png") width="150" height="150" loading="lazy")
        .pSpkNameWR
            .pSpkNameBox
                .pSpkName #{spk["i"+lang]}
                .pSpkName #{spk["f"+lang]}
                .pSpkCompany  #{spk["company"+lang]}
    .pSpkBody
        .menuItem.flex.center.left
            .menuItemBox
            .menuItemText Биография


