.fullScreenWr
    .fullScreenLayer
        .fullScreenBack
        .fullScreenFront
                div !{spk["i"+lang]}
                div !{JSON.stringify(spk)}
                div !{JSON.stringify(lang)}
        .fullScreenCloseNotSave flex center
