.payCompanyWr
    .regField.mt-3
        .regFieldLabel ИНН компании, которая оплачивает Ваше участие
        input#companyPayINN(type="number" name="companyPayINN" value='7710383375')
        button#checkPayInn Проверить
        .regFieldError Поле должно быть заполнено
        #companyPayINNError
