div(style="margin-left:48px")
    .regField.mt-2
        .regFieldLabel Имя представителя

        input(name="proxyI")

        .regFieldError Поле должно быть заполнено
    .regField.mt-2
        .regFieldLabel email и телефон представителя
        input(name="proxyEmail")
        input(name="proxyPhone")
        .regFieldError Поле должно быть заполнено

    button.mt-2#closeProxy Убрать представителя

