extends layout

block head
    title="Программа"
block content
    .tgPgm
        include elems/timeslots

    script(src="/static/javascripts/utils.js")
    script(src="/static/javascripts/mainScript.js")
    script.
        document.querySelectorAll(".pqmQBtn").forEach(async(btn)=>{
            let box=btn.parentNode;
            let inp=box.querySelector("textarea")
            if(inp.value.length<5)
                return inp.focus();
            btn.style.display="node";
        })

