extends layout

block head
    title="Программа"
block content
    .tgPgm
        include elems/timeslots

    script(src="/static/javascripts/utils.js")
    script(src="/static/javascripts/mainScript.js")
    script.
        document.querySelectorAll(".pqmQBtn").forEach( btn=>{
            console.log(btn)
            btn.onclick=async()=> {
                console.log("btn click")
                let box = btn.parentNode;
                let inp = box.querySelector("textarea")
                let loader=box.querySelector(".pgmQloader")
                if (inp.value.length < 5)
                    return inp.focus();
                btn.style.display = "none";
                loader.style.display = "block";
            }
        })

