extends layout

block head
    title="Программа"
block content
    .tgPgm
        include elems/timeslots

    script(src="/static/javascripts/utils.js")
    script(src="/static/javascripts/mainScript.js")

