html
    body
        p
            b(style="font-size:1.2em") Здравствуйте, #{user.i} #{user.o}!
        p
            span Ваша заявка на бронирование номера в  "#{hotel}" на период с 5 по 8 июля 2023 г. направлена в службу бронирования отеля.

        p
            div В ближайшее время с Вами свяжется служба бронирования  для подтверждения и согласования условий оплаты.

        include mailFooter
