@media all and (max-width: 1315px){
    h1, h2 {
        /* position: absolute; */
        font-size: 36px;

    }
    .mainMenuItem{
        font-size: 24px;
        line-height: 24px;
    }
    .menuItem{
        margin-right: 32px;

    }
    .newsTitle, .newsText, .faqTitle, .faqText{
        font-size: 16px;
        line-height: 20px;
    }
    .newsItem, .faqItem {
    .
        width: calc(25% - 40px);
        padding: 48px 38px;
        padding-bottom: 84px;

    }
    .quoteTextTitle{
        font-size: 36px;
        line-height: 42px;
    }
    .regBox {
        margin-top: 100px;
        padding: 0 56px;
    }
    .spkWr, .newsWr {
        padding: 0 0px;
        padding-top: 56px;
    }
    .oSpkItem {
        width: 25%;
    }
    .ushi:after, .ushi:before{
        display: none;
    }
    .tower{
        width: 100%;
    }
}
