@media all and (max-width: 980px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    body {
        width: 100vw;
        overflow-x: hidden;
    }

    .menu {
        display: block;
    }

    .h1Wr, .mainMenu, .newsItems, .faqLink {
        display: block;
    }





    .mainImageWr {
        padding-bottom: 120%;
    }

    .mainImage {
        background-image: url(../images/mainImageMobile.png);
       /* background-color: yellow;*/
    }

    .mainTitle {
        padding: 40px 16px;
    }

    .h1Wr {
        display: block;
    }

    h1 {
        font-size: 20px;
        line-height: 24px;
    }

    h2 {
        font-size: 20px;
        line-height: 24px;
        padding: 0px 16px;
    }

    .mainMenu {
        display: none;
    }

    .tower {
        /* padding: 0 16px;*/
    }

    .subTower {
        padding: 0 16px;
    }

    .menuItem {
        margin-top: 16px;
    }

    .menuItemBox {
        width: 24px;
        height: 24px;
    }

    .menuItemText {
        font-size: 18px;
        line-height: 21px;
    }
    #news{
        padding-top:48px;
        padding-bottom: 24px;
    /*    margin-bottom: 24px;*/
        overflow: hidden;
    }
    .newsItemsBox{
        width: 100%;
        overflow-y: scroll;
    }
    .newsItem{
        padding: 40px 24px;
        padding-bottom: 84px;
        margin-right: 24px;
        width: calc(100vw - 128px);
        overflow: hidden;
    }
    .newsItems{
        display: flex;
        width: max-content;
    }
    .newsDate{
        font-weight: 300;
        font-size: 15px;
        line-height: 17px;
    }
    .newsTitle, .newsText, .faqTitle, .faqText{
        font-size: 18px;
        line-height: 24px;
    }
    .newsBlockDecor {
        position: absolute;
        bottom: -3px;
        top: 53px;
        left: -547px;
        width: auto;
    }
    .newsBlockDecor svg {
        width: auto;
        height: 100%;
    }
    #news .subTower{
        padding: 0 0px;
    }
    .newsItem:first-child{
        margin-left: 24px;
    }
    .quotesWr{
        display: block;
    }
    .quotesWr{
        padding: 80px 24px;
    }
    .quotesCenter{
        width: 100%;
        padding: 0;
    }
    .quoteTextWr {
        width: 100%;
        padding-left: 0%;
    }
    .quoteTextTitle {
        font-size: 32px;
        line-height: 40px;
    }
    .quoteImg{
        width: 100%;
        flex: 1 2 100%;
        order: 1;
    }
    .quoteTextWr {
        flex: 1 1 100%;
        order: 2;
    }
    .quoteText{
        height: auto;
        font-size: 32px;
        line-height: 40px;
        padding-top: 38px;
    }
    .quoteTextDivaider {
       display: none;
    }
    .quteBodyBox {
        align-items: stretch;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .quotesCtrl{
        margin-top:96px
    }
    .quotesArrow{
        width: 56px;
        height: 56px;
    }
    .quotesCtrlBox{
        justify-content: space-around;
    }
    #partners {
        padding-top: 56px;
    }
    .sectionTitle {
        font-size: 32px;
        line-height: 40px;
    }
    .partnersDecor, .faqDecor {
        width: 150px;
        top: 100px;
    }
    .partnersDecor svg, .faqDecor svg{
        width: 100%;
        height: auto;
    }
    #faq{
        padding-top: 72px;
        width: 100%;
        overflow: hidden;
        padding-bottom: 48px;
    }
    .faqDecor {

        top: 120px;
    }
    .faqMenuItem {
        margin-top: 72px;
    }
    #faq .menuItemText{
        font-size: 17px;
        line-height: 21px;
    }
    .faqItems{
        margin-top:48px;
    }
    .faqItemsBox{
        width: max-content;
    }
    .faqItemsWr{
        width: calc( 100% + 48px);
        overflow-x: scroll;
        margin-left: -24px
    }

    .faqItem{
        width: calc(100vw - 110px);
        margin-left: 24px;
        padding: 40px 24px;
        padding-bottom: 92px;
    }
    .footerWr{
        flex-wrap: wrap;
    }
    .footerItem{
        width: 100%;
        text-align: center !important;
        margin-top:24px;
    }
    #mobileMenu{
        background: linear-gradient(180deg, rgba(38, 51, 121, 0.4) 0%, #BB3E3F 100%), #BB3E3F;
        position: fixed;
        top:0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1000;
        overflow-y: scroll;
    }
    .mobileMenuWr{
        position: relative;
    }
    #mobileMenu h1, #mobileMenu h2{
        color: #FFFFFF;
    }
    .mobileMenuCloseBtn{
        position: absolute;
        right: 16px;
        top:48px
    }
    #mobileMenu .mainMenuGroup{
        margin-right: 0px;
        width: 100%;
    }
    #mobileMenu .mainTitle{
        padding-bottom: 24px;
    }

    #mobileMenu .mainMenuItem{
        text-align: center;
        cursor: pointer;
        color: #FFFFFF;
        padding: 10px;
    }
    #mobileMenu .menuItemText{
        color: #FFFFFF;


    }
    #mobileMenu .menuItem{
        margin-top: 0px;
        padding: 8px 0px;
    }
    .mobileMenuSiteItems{
        margin-top: 12px;
    }
    .mobileMenuLangMenu{
        margin-top: 36px;
        padding-bottom: 36px;
    }
    .LangMenuItem{
        color: #FFFFFF;
        font-weight: 400;
        font-size: 22px;
        line-height: 28px;
        padding: 10px 24px;
        background-color: #878787;
    }
    .LangMenuItem.active{
        background-color: #BB3E3F;
    }
    .LangMenuItem:first-child{
        margin-right: 12px;
    }
    .LangMenuItem:last-child{
        margin-right: 12px;
    }
    .regCheckBox.mobileWrap{
        flex-wrap: wrap;
        position: relative;
    }
    .regBox {
        padding: 0;
    }
    .regRowGroup{
        display: block;
    }
    .recLabel{
        font-size: 16px;
        line-height: 22px;
    }
    .regRow {
        margin-top: 14px;
    }
    .regBox .menuItemText{
        width: calc(100% - 50px);
    }
    .recLabel, .regRowGroup input{
        width: 100% !important;
    }
    .regRowGroup input{
        font-size: 18px;
    }
    .regCheckBoxText{
        width: 100%;
    }
    .innBtn {
        width: 100%;
        box-sizing: border-box;
        display: block;
        padding: 12px 4px;
        padding-bottom: 24px;
    }

    .regCheckBox{
        align-items: flex-start;
    }
    #registration{
        padding-bottom: 56px;
        padding-top: 46px;
    }
    .regBox {
        margin-top: 0;
    }
    #registration .sectionTitle{
        font-size: 22px;
    }
    #registration .partnersDecor {
        top: 86px;
    }
    .regCheckBoxText{
        font-size: 16px;
        line-height: 20px;
    }
    .internalHead{
        margin: -2px 0;
    }
    .internalHeadLogo {
        width: 42px;
    }
    .internalHeadH1 {
        font-size: 18px;
        line-height: 22px;
        margin-left: 23px;
    }
    .internalHeadLogoWr{
        left: 24px;
    }
    .internalHeadMenu{
        margin: 0;
        padding-left: calc(100vw - 304px);
    }
    .internalH1Wr{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        color:#ffffff;
    }
    .internalHeadLogoWr{
        display: none;
    }
    .reqInput{
        margin-top: -2px;
    }
    #noFoto{

        font-size: 14px;
        bottom: 34px;
        line-height: 16px;

    }
    .reqPhoto2 .reqRowErrorMessage{
        line-height: 14px;
        padding: 4px 0;
        padding-top: 2px;
    }
    .reqPhoto{
        width: 50%;
    }
    .regSubmit{
        background: #BB3E3F;
        padding: 18px 56px;
        cursor: pointer;
        color: white;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 22px;
        line-height: 32px;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
    }
    #footer {
        padding-top: 8px;
        padding-bottom: 62px;
    }
    .footerItem svg{
        width: 189px;
        height: auto;
        margin-bottom: 1px;
    }
    .footerItemRow{
        font-size: 12px;
        line-height: 18px;
        margin-top: 7px;
    }
    .reqPhoto2.reg287 {
        width: 50%;
    }
    .regCheckBoxComment {
        margin-top: -16px;

        text-transform: uppercase;
        font-size: 10px;
        margin-left: 0;
        text-align: center;
        width: 100%;
        color: white;
    }
    .FNSloader{
        width: 30px;
        height: 30px;
        box-sizing: border-box;
        /* padding: 4px; */
        /* border: 1px solid green; */
        position: absolute;
        top: 8px;
        left: 8px;
        z-index: 100;
    }
    .newsWr {
        padding: 0;
        padding-left:40px;
        padding-top: 56px;
    }
    .newsBodyRow{
        display: block;
    }
.newsHeadTitle{
    font-size: 18px;
    line-height: 22px;
}
    .newsBodyText{
        width: 100%;
        margin-top: 14px;
        font-size: 16px;
        line-height: 19px;

    }
    .withPhoto {
        width: 100%;
    }
    .newsDecor2 {
        bottom: -36px;
    }

    .oNewsDecor{
        width: 30%;
    }
    .spkNameWr{
        font-size: 18px;
        line-height: 22px;
    }
    .spkCompamy{
        font-size: 18px;
        line-height: 22px;
    }
    .oSpkItem {
        width: 50%;
        padding: 24px 8px;
    }
    .pSpkTower{
        padding: 0;
    }
    .pSpkHead{
        display: block;
    }
    .pSpkNameWR{
        width: 100%;
    }
    .pSpkNameBox {
        padding-left: 0;
        padding-top: 24px;
    }
    .pSpkName{
        font-size: 26px;
        line-height: 30px;
    }
    .pSpkBio {
        /*max-height: calc(100vh - 560px);*/
        padding-left: 0px;
    }
    .oTs{
        display: block;
    }
    .pgmHeadDate{
        margin-left: 0;
    }
    .oTsDate{
        width: 100%;
        text-align: left;
    }
    .oTrack {
        width: calc(100% );
        padding: 8px;
        box-sizing: border-box;
        margin-top: 12px;

    }
    .oSessionWr{
        align-items: normal;
    }
    .oSession{
        padding-bottom: 24px;
    }
    .oSessionScroll{
        overflow-y: scroll;
        width: 100%;
    }
    .oTrack:not(.impotant) .oSessionWr {
        width: max-content;
    }
    .oTrack:not(.impotant){
        padding-left: 0;
        padding-right: 0;
    }
    .oTrack:not(.impotant) .oSession {
        width: calc(100vw - 76px);

        padding: 8px;
        padding-bottom: 24px;
        margin-right: 16px;
        background: #f5f5f5;
    }
    .newsDecor2 {
        bottom: -58px;
    }
    .pSpkPhotoWR {
        width: 150px;
        height: 150px;

    }
    .pSpkBody {
        margin-top: 0px;
    }
    .pSpkSessionsWr {
         margin-left: 0px;
    }
    .pSpkSession{
        font-size: 18px;
        line-height: 21px;
        margin-top: 12px
    }
    .pSpkBody {
        max-height: calc(100vh - 377px);
        padding-right: 4px;

    }
    .fullScreenBox{
        padding: 16px;
    }


}
