@charset "UTF-8";
@font-face {
    font-family: 'Stem';
    src: url('/static/fonts/Stem-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stem', Arial,  SansSerif;
    src: url('/static/fonts/Stem-Regular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stem';
    src: url('/static/fonts/Stem-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stem';
    src: url('/static/fonts/Stem-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stem';
    src: url('/static/fonts/Stem-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stem';
    src: url('/static/fonts/Stem-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stem SemLt';
    src: url('/static/fonts/Stem-SemiLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}


body {
    line-height: 1;
    font-family: 'Stem', SansSerif;
    /*background-image: url('/static/images/0_fon_02.svg');*/
    /*background-image: url('/static/images/01_main_ushi.svg');*/
}

ol, ul {
    list-style: none;
}

textarea:focus, input:focus, textarea:active, input:active {
    outline: none !important;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input {
    border-radius: 0;
    -webkit-appearance: none;
}


.mt {
    margin-top: 4px
}

.mt-1 {
    margin-top: 16px
}

.mt-2 {
    margin-top: 16px
}

.mt-3 {
    margin-top: 24px
}

.mt-4 {
    padding-top: 48px
}

.tower {
    width: min(1920px, 100%);
    margin: 0 auto;
    background: white;
}

#menu {
    padding-top: 48px;
}

.mainImageWr {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 52.68%;
    color: #FFF;
    overflow-y: clip;
}
.mainImage {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url('../images/01_main_1904.jpg');
}
.mainTitle {
    justify-content: left;
    box-sizing: border-box;
    padding: 52px 56px;
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 48px;
}
.mainImg2Wr h2.desktop{
    position: absolute;
    bottom: 102px;
    left: 48px;
    right: inherit;
    top: inherit;
    color: #FFFFFF;
    padding-left: 48px;

}
.mainImg2Wr{
    width: 100%;
    position: relative;
}
.mainImg2{
    width: 100%;
    height: auto;
}
.mainImg2Wr .mainMenu {
    position: absolute;
    bottom: inherit;
    left: 80%;
    color:white;
    top: 117px;

}
.mainImg2Wr  .mainTitle{
    top: 17px;
    left: 35px;
}
.mainImg2Wr .mainMenuItem {
    cursor: pointer;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 0px;
    padding: 6px 12px;
    display: block;
    position: relative;
}
.mainImg2Wr .mainMenuItem:before{
    width: 16px;
    height: 17px;
    content: '';
    background: #FFFFFF;
    left: -18px;
    top: 9px;
    position: absolute;
}
.mainImg2Wr .mainMenuItem:hover:before{

    background: #F1CCA7;

}

.mainImg2Wr .mainLogo {
    /* position: absolute; */
    top: 7%;
    left: 7%;
    width: 138px;
}
.mainImg2Wr h2.desktop {

    left: 41px;

}
.mainImg2Wr .menu {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    position: absolute;
    bottom: 35%;
    left: 91px;
}
.mainImg2Wr .menuItemText{
    color:white;
}


.mainLogo {
    /*position: absolute;*/
    top: 7%;
    left: 7%;
    width: 10%;
}

.mainLogo svg {
    width: 100%;
    height: auto;
}

h1 {
    /*position: absolute;*/
    top: 157px;
    left: 20%;
    font-weight: 300;
    font-size: 48px;
    line-height: 46px;
    margin-left: 4%;
    margin-right: 20%;

}

h2 {
    /* position: absolute;*/
    top: 184px;
    right: 3%;
    font-weight: 300;
    font-size: 48px;
    line-height: 46px;
    text-transform: uppercase;
    opacity: 0.8;
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

.left {
    justify-content: left;
    align-items: center;
}

.beetwen {
    justify-content: space-between;
}

.mainTitle {
    justify-content: left;
    box-sizing: border-box;
    padding: 52px 56px;
}

.mainDecor {
    position: absolute;
    bottom: -3px;
    width: 100%;
    left: 0;
    opacity: .5;

}

.mainDecor svg {
    width: 100%;
    height: auto;
}

.mainMenuGroup {
    margin-right: 60px;
    width: 90%;
}

.mainMenuItem {
    cursor: pointer;
    font-weight: 500;
    font-size: 28px;
    line-height: 28px;
    text-transform: uppercase;
    margin-top: 0px;
    padding: 8px 12px;
    display: block;
}

.mainMenuItem:hover {
    color: #F1CCA7
}

.h1Wr {
    align-items: flex-start;
    width: 100%;
}

.mainMenu {
    position: absolute;

    bottom: 64px;
    left: 56px;
    align-items: flex-start;
}


.subTower {
    padding: 0 56px
}

.menuItemBox {
    width: 28px;
    height: 28px;
    background-color: #BB3E3F;
}

.menuItemText {
    font-weight: 300;
    font-size: 21px;
    line-height: 24px;
    color: #878787;
    margin-left: 24px;
}

.menuItem:hover .menuItemText {
    color: #4A4A49;

}

.menuItem {
    cursor: pointer;
    margin-right: 64px;
    text-transform: uppercase;
}

#news {
    padding-top: 112px;
    position: relative;
    padding-bottom: 125px;
}

.newsItems {
    align-items: stretch;

}

.newsItem {
    width: calc(20% - 40px);
    background: #F1CCA7;
    padding: 48px 38px;
    padding-bottom: 84px;
    position: relative;


}

.newsDate {
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;

    color: #BB3E3F;
}

.newsTitle {
    font-weight: 500;
    font-size: 21px;
    line-height: 26px;
    /* or 124% */
    margin-top: 2px;
    text-transform: uppercase;
    min-height: 5em;
    color: #000000;
}

.newsDecor {
    margin-left: -38px;
    margin-top: 12px;
}

.newsText {
    font-weight: 300;
    font-size: 21px;
    line-height: 26px;
    /* or 124% */


    color: #878787;
}

.newsButton {
    position: absolute;
    bottom: 28px;
    right: 28px;
    cursor: pointer;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    background-color: #E39A4F;
}

.newsButton:hover {
    background-color: #BB3E3F;
}

.newsButton:hover svg path {
    stroke: #E39A4F;
}

.newsBlockDecor {
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
}

.newsBlockDecor svg {
    width: 100%;
    height: auto;
}

.quotesWr {
    background: #BB3E3F;
}

.quotesArrow {
    width: 88px;
    height: 88px;
    background: #E39A4F;
    box-sizing: border-box;
    padding: 14px 0;
    cursor: pointer;
    display: none !important;
}

.quotesArrow svg {
    height: 100%;
    width: auto;
}

.quotesArrow:hover {
    background: #263378;
}

.quotesArrow:hover svg path {
    stroke: #e7929c;
}

.quotesArrow.l svg {
    transform: rotate(180deg);
}

.quotesCenter {
    width: calc(100% - (88px * 2));
    padding: 44px;
    box-sizing: border-box;
}

.quoteImg {
    width: 66.66%;
}

.quoteImg img {
    width: 100%;
    height: auto;
}

.quoteTextWr {
    width: 33.33%;
    padding-left: 3%;
}

.quoteText {
    font-weight: 500;
    font-size: 49px;
    line-height: 56px;
    /* or 114% */

    text-transform: uppercase;

    color: #FFFFFF;
}

.quoteText {
    height: 55%;
}

.quoteTextDivaider {
    height: 45%;
}

.quteBodyBox {
    align-items: stretch;
}

.quoteText {
    align-items: flex-end;
}

#partners {
    padding-top: 152px;
    position: relative;
    padding-bottom: 56px;
}

.sectionTitle {
    font-weight: 500;
    font-size: 49px;
    line-height: 61px;
    text-transform: uppercase;
    color: #4A4A49;
}

.partnersBox {
    margin-top: 102px;
}

.partnersBox img {
    width: 100%;
    height: auto;
}

.partnersDecor {
    position: absolute;
    left: 0;
    top: 60px
}

#faq {
    position: relative;
    padding-top: 112px;
    background: #E39A3F;
    color: #FFFFFF;
    padding-top: 40px;
    padding-bottom: 112px;
}

#faq .sectionTitle {
    color: #FFFFFF;
}

.faqDecor {
    position: absolute;
    left: 0;
    top: 106px
}

.faqItem {
    width: calc(20% - 40px);
    background: #BB3E3F;
    padding: 48px 38px;
    padding-bottom: 84px;
    position: relative;
}

.faqItems {
    align-items: stretch;
    margin-top: 112px;
}

.faqTitle {
    font-weight: 500;
    font-size: 21px;
    line-height: 26px;

    text-transform: uppercase;

}

.faqText {
    margin-top: 16px;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;

    color: rgba(255, 255, 255, 0.8);

}

.faqText a {
    color: rgba(255, 255, 255, 0.8);
}

#faq .menuItemText {
    color: rgba(255, 255, 255, 0.8);
}

.faqMenuItem {
    cursor: pointer;
}

.faqBg {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
}

.faqBg svg {
    width: 100%;
    height: auto;
}

#footer {
    padding-top: 68px;
    padding-bottom: 62px;
}

.footerItem {
    width: 25%;
    min-height: 30px;
}

.footerWr {
    justify-content: space-around;
}

.centerfooterItem {
    text-align: center;
}

.footerItemRow {
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    margin-top: 21px;
    color: #878787;
}

.footerItemRow a {
    color: #878787;
    text-decoration: none;
}

.footerItemRowLink {
    cursor: pointer;
    color: #BB3E3F
}

.menuItemText:hover {
    color: #878787;

}

.faqItem .newsButton:hover {
    background-color: #263378;
}

.faqItem .newsButton:hover svg path {
    stroke: #e7929c;
}

.faqMenuItem:hover .menuItemText {
    color: #263378 !important;
}

.desktop {
    display: block;
}

.mobile {
    display: none;
}

.mobileMenuBtn {
    position: absolute;
    right: 16px;
    top: 40px;
    cursor: pointer;
}

.internalHead {
    position: relative;
}
.internalHeadImage{
    background: #4d59a0;
}
.internalHeadImage img {
    width: 100%;
    height: auto;
}

.internalHeadLogo {
    width: 100px;
}

.internalHeadLogo svg {
    width: 100%;
    height: auto;
}

.internalHeadLogoWr {
    position: absolute;
    top: 13%;
    left: 6%;
    cursor: pointer;
    z-index: 100;
}

.internalHeadH1 {
    color: #FFFFFF;
    font-size: 36px;
    line-height: 42px;
    margin-left: 48px;
    font-weight: 300;
    text-transform: uppercase;
    cursor: pointer;
}

.internalHeadText {
    align-items: flex-start;
}

.internalHeadMenu {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    margin-left: 193px;
}

.internalHeadMenu .mainMenuItem {
    padding-top: 0;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    text-transform: uppercase;

}

#registration {
    padding-top: 80px;
    padding-bottom: 120px;
    position: relative;
}

#registration .partnersDecor {
    top: 146px;
}

.regBox {
    margin-top: 64px;
    padding: 0 207px;
}

.regRow {
    margin-top: 26px
}

.reg287 {
    width: 328px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: 21px;
    line-height: 28px;
    /* identical to box height, or 133% */
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #E39A3F;
    padding: 6px 12px;
}

#noFoto {
    width: 100%;

}

.reqPhoto {
    height: 358.75px;
    cursor: pointer;
    text-align: center;
    padding: 1px;
    background-image: url('/static/images/fotobg.svg');
    position: relative;
    background-size: cover;
    position: relative;
    height: 0;
    padding-bottom: 125%;

}

.reqPhotoBox {
    position: absolute;
    width: 100%;
    height: 100%;
}

.reqPhoto2.reg287 {
    padding: 0;
    position: relative;
}

.reqPhoto2 .reqRowErrorMessage {
    width: 100%;
    left: 0px;
    bottom: -4px;

    text-align: center;
    color: #FFFFFF;
    background: #EEB3BA;

}

#photoSaveBtn {
    position: relative;
}

#photoSaveBtn.loading:after {
    content: '';
    position: absolute;
    left: 4px;
    top: 4px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('/static/images/loader.svg');
}

@keyframes photoSaveBtn {
    0% {
        width: 0%
    }
    100% {
        width: 100%
    }
}

#photoSaveBtn.loading:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 0%;
    background-color: #E39A3F;
    animation: photoSaveBtn 20s linear;
}

.reqPhotoBox2 {
    position: relative;
    padding-bottom: 125%;
    height: 0;
    width: 100%;
    cursor: pointer;
}

.reqPhotoBox2Photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #E39A3F;
    background-image: url('/static/images/fotobg.svg');
}

.reqPhoto img, .reqPhotoBox2Photo img {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    border: 1px solid #E39A3F;
}

.reqInput {
    width: calc(100% - 328px);
    font-size: 21px;
    box-sizing: border-box;
    padding: 7px 12px;
    border: 1px solid #E39A3F;

}

.regCheckBox {
    cursor: pointer;
}

.regCheckBoxBox {
    width: 40px;
    height: 40px;
    position: relative;
    box-sizing: border-box;
    border: 1px solid #E39A3F;
}

.regCheckBoxText {
    font-weight: 500;
    font-size: 21px;
    line-height: 26px;

    color: #878787;
    margin-left: 12px;
    text-transform: uppercase;
}

.regCheckBox.active .regCheckBoxBox:after {
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    bottom: 6px;
    right: 6px;
    background-color: #E39A3F;
}

.regCheckBox.green.active .regCheckBoxBox:after {
    background-color: #4D8955;
}

.regCheckBox.active .regCheckBoxText {
    color: #4A4A49;
}

.regRowGroup.readonly .recLabel {
    background: #878787;
    color: #FFFFFF;
}

.gray {
    color: #878787;
}

.regBox .menuItem {
    cursor: inherit;

}

.regBox .menuItemText {
    font-weight: 500;
    color: #4A4A49;
}

.regSubmit {
    background: #BB3E3F;
    padding: 18px 56px;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    width: max-content;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    border:none;
    text-align: center;
}

.regRow.error .reqInput {
    background-color: #eeb3ba4d
}

.regRow {
    position: relative;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

.regCheckBox .regCheckBoxBox svg {
    width: calc(100%);
    padding: 4px;
    box-sizing: border-box;
    height: auto;
}

.regRow.error {
    position: relative;
}

.regRow.error:after, .reqRowErrorMessage {
    position: absolute;
    bottom: -14px;
    left: 10px;
    content: "Поле должно быть заполнено";
    color: #EEB3BA;
    font-size: 12px;
}
.participaintRow .regRow.error:after, .participaintRow .reqRowErrorMessage {

    bottom: -26px;

}

.reqRowErrorMessage {

    left: 10px;
    background: white;
    z-index: 100;
}
.participaintRowBtnGroup a{
    display: block;
    padding: 12px;
    cursor: pointer;
    background: #E39A4F88;
    font-weight: 500;
    font-size: 21px;
    line-height: 28px;
    /* identical to box height, or 133% */
    color: #4A4A49;
    margin-right: 12px;
text-decoration: none !important;
}

.regRow.divaider {
    border-bottom: 1px solid #E39A3F;
}

.regRow.topdivaider {

    border-top: 1px solid #E39A3F;
    margin-bottom: 50px;
}

.innBtn, .btn {
    color: white;
    background-color: #BB3E3F;
    padding: 7px 20px;;
    cursor: pointer;
    width: 248px;
    text-align: center;
    display: inline-block;
    border-top: 1px solid #E39A3F;
    font-weight: 500;
    font-size: 21px;
    text-transform: uppercase;
}

.fullScreenWr, .fullScreenPhotoEditor {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #00000023;
    left: 0;
    top: 0;
    backdrop-filter: blur(10px);
    --webkit-backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.fullScreenPhotoEditor {
    z-index: 2000;
}

.fullScreenBox {
    box-sizing: border-box;
    background: white;
    padding: 24px;
    width: min(100%, 1100px);
    position: relative;
}

.fullScreencontent {
    max-height: calc(100vh - 48px);
    overflow-y: auto;
}

.fullScreenCloseNotSave {
    position: absolute;
    top: 4px;
    right: 4px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: #E39A3F;
    background-image: url('/static/images/close.svg');
    /* border-radius: 50%;*/
    color: #E39A3F;
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
}

.pUserPhoto {
    width: 240px;
    background-color: #878787;
    border-radius: 8px;
}

.photoLoader {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    margin-top: 24px;
}

.photoLoader svg circle, .photoLoader svg line {
    fill: #FFFFFF;
}

.errorPhoto {
    border: 4px solid #EEB3BA;
}

.photoEditorImageBox {
    width: 300px;
    /*max-height: CALC(100vh - 300px);*/
    height: calc((300px / 4) * 5);
}

.regRow.checkBox .reqRowErrorMessage {
    left: 52px;
    top: 32px;
}

.regCheckBox.success .regCheckBoxBox {
    border-color: #4D8955;
}

.regSuccess .regSubmit {
    margin-left: 30px;
}

.regRowGroup.readonly input {
    border-color: #878787;
}

.opacity0 {
    opacity: 0;
}

.opacity100 {
    opacity: 1;
}

.regCheckBoxComment {
    margin-left: 24px;
    color: #878787;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: -24px;
}

/* svg{
    width: 33%;
    margin-top: 32px;
    height: auto;
}*/
#noFoto {
    position: absolute;
    width: 100%;
    bottom: 12%;
    left: 0;
    text-align: center;
    cursor: pointer;
}

.regSubmit svg {
    width: 2em;
}

.oNewsItem {
    padding-top: 56px;
}

.newsWr {
    padding: 0 141px;
    padding-top: 56px;
}

.newsHeadDate {
    font-weight: 350;
    font-size: 21px;
    line-height: 25px;

    color: #878787;
}

.newsHeadTitle {
    font-weight: 500;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    color: #4A4A49;
    margin-top: 4px;
    position: relative;
}

.newsHeadTitle:before {
    content: '';
    width: 28px;
    height: 28px;
    background-color: #BB3E3F;
    position: absolute;
    top: 0;
    left: -40px;
}

.newsBodyRow {
    margin-top: 14px;
    align-items: flex-start;
}

.newsBodyText {
    font-weight: 350;
    font-size: 21px;
    line-height: 25px;
    /* identical to box height */
    color: #878787;
    white-space: pre-wrap;
}

.newsHeadPhoto {
    width: 150px;
    margin-right: 34px;
    position: relative;
}

.newsHeadPhoto img {
    width: 100%;
    height: auto;
}

.withPhoto {
    width: calc(100% - 150px);
}

.newsHeadPhotoBg {
    position: absolute;
    width: 150%;
}

.newsHeadPhotoBg svg {
    width: 100%;
}

#newsPage, #participantsPage {
    position: relative;
    padding-top: 56px;
    padding-bottom: 56px;
}

.oNewsDecor {
    position: absolute;
    left: 0;
    top: 108px

}

.oNewsDecor svg {
    width: 100%;
    height: auto;
}

.newsDecor2 {
    position: absolute;
    bottom: -76px;
    right: 0;
    width: 600px;
}

.newsDecor2 svg {
    width: 100%;
    height: auto;
}

.subTower {

    overflow-x: clip;
}

.oSpkItemImage {
    margin: 0 14px;
    width: calc(100% - 28px);
    height: auto;
    border-radius: 50%;
    filter: brightness(.9);
}

.oSpkItem:hover .oSpkItemImage {

    filter: brightness(1.1);
}

.spkWr {
    padding: 0 141px;
    padding-top: 56px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}


.oSpkItem {
    width: 25%;
    box-sizing: border-box;
    padding: 24px 24px;
    cursor: pointer;
}

.spkNameWr {
    font-weight: 500;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 24px;

    color: #878787;
}

.spkCompamy {
    font-weight: 350;
    font-size: 21px;
    line-height: 25px;
    /* identical to box height */

    text-align: center;
    margin-top: 8px;
    color: #878787;
}

.pSpkHead {
}

.pSpkPhotoWR {
    width: 251px;
    height: 251px;
    position: relative;
}

.pSpkNameWR {
    width: calc(100% - 251px);
}

.pSpkHead {
    align-items: flex-start;
}

.pSpkBg {
    position: absolute;
    left: -118px;
    bottom: -20px;
    width: 250%;
}

.pSpkPhoto {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    box-sizing: border-box;
}

.pSpkPhoto img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.pSpkName {
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    /* or 117% */

    text-transform: uppercase;

    color: #4A4A49;
}

.pSpkCompany {
    font-weight: 300;
    font-size: 26px;
    line-height: 30px;
    margin-top: 4px;
    color: #878787;
}

.pSpkNameBox {
    padding-left: 86px;
    padding-top: 12px;
}

.pSpkTower {
    padding: 24px;
}

.pSpkBody {
    margin-top: 40px;
}

.pSpkBio {
    margin-top: 24px;
    font-weight: 350;
    font-size: 21px;
    line-height: 25px;
    color: #878787;
    white-space: break-spaces;

}

.pSpkBg svg {
    width: 100%;
    height: auto;
}

.pgmWr {
    /* padding: 0 141px;*/
    /* // padding-top: 56px;*/
}

.pgmHeadDate {
    font-weight: 500;
    font-size: 21px;
    line-height: 26px;
    color: #4A4A49;
    padding-left: 48px;
    position: relative;
    margin-top: 72px;
    text-transform: uppercase;
    margin-left: 190px;
}

.pgmHeadDate:before {
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    top: 0;
    left: 0;
    background: #BB3E3F;
}

.oTsDate {
    width: 190px;
    text-align: right;
    padding-right: 12px;
    box-sizing: border-box;
    padding-top: 16px;
    font-weight: 350;
    font-size: 21px;
    line-height: 25px;
}

.oTrack {
    width: calc(100% - 182px);
    padding: 16px;
    box-sizing: border-box;
}

.oAllTracks {
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 28px;
    background: #E0E0E0;
    text-transform: uppercase;
    color: #4A4A49;
}

.oTs {
    margin-top: 22px;
    align-items: flex-start;
}

.oSession {
    width: 25%;
    box-sizing: border-box;
    padding-right: 24px;
}

.oSessionHallTitle {
    font-weight: 500;
    font-size: 21px;
    line-height: 26px;

    color: #263378;
    text-transform: uppercase;
}

.oSessionTitle {
    font-weight: 500;
    font-size: 21px;
    line-height: 26px;
    color: #4A4A49;
    margin-top: 12px;
    cursor: pointer;
}

.oSessionWr {
    align-items: flex-start;
}

.oSessionDetails {
    background: #E39A4F;
    padding: 4px 8px;
    font-weight: 350;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    text-transform: uppercase;
    color: #BB3E3F;
    margin-top: 20px;
    width: max-content;
    cursor: pointer;

}

.oSessionSpkBox {
    margin-top: 20px;
}

.oSessionSpkBoxTitle {
    font-weight: 350;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    color: #878787;
}

.participaintRow img{
    max-width: min(300px, 100%);
}
.oSessionSpkBoxName {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    color: #878787;
    padding-top: 4px;
    cursor: pointer;
}

.oSessionSpkBoxPos {
    font-size: 16px;
    font-weight: 300;
    text-transform: none;
}

.impotant.oTrack {
    background: #F8DEE1;
}

.impotant .oSession {
    width: 100%;
}

.impotant .oSession:not(:first-child) {
    display: none;
}

.impotant span.plenar {
    color: #BB3E3F;
    text-transform: uppercase;
}

.impotant .oSessionHallTitle {
    text-transform: uppercase;
}

.pPgmPopUp .pgmHeadDate {
    margin: 0;
}

.pPgmPopUpWr {
    margin-left: 48px;
    margin-top: 12px;
}

.pPgmPopUpHall {
    font-weight: 500;
    font-size: 21px;
    line-height: 26px;

    color: #263378;
}

.up {
    text-transform: uppercase;
}

.pPgmPopTitle {
    margin-top: 8px;
    font-weight: 500;
    font-size: 21px;
    line-height: 26px;

    color: #4A4A49;
}

.pPgmPopDescription {
    white-space: break-spaces;
    font-weight: 350;
    font-size: 21px;
    line-height: 25px;

    color: #878787;
}

.pPgmPopScroll {
    margin-top: 12px;
    overflow-y: scroll;
    max-height: calc(100vh - 312px);

}

.pPgmPopSpeakers {
    flex-wrap: wrap;
    align-items: flex-start;
}

.pPgmPopUp .oSpkItem {
    width: 33%;
    text-align: center;
}

.pPgmPopUp .oSpkItem {
    width: 33%;
    text-align: center;
}

.pPgmPopUp .oSpkItemImage {
    margin: 0 auto;
    width: calc(100% - 48px);
}

.pSpkSessionsBox {
    margin-top: 24px;
    margin-bottom: 24px
}

.pSpkSessionsWr {
    margin-left: 50px;
}

.pSpkSession {
    font-weight: 350;
    font-size: 21px;
    line-height: 25px;
    color: #878787;
    margin-top: 16px;
    cursor: pointer;
}

.pSpkBody {
    max-height: calc(100vh - 440px);
    overflow-y: scroll;
}
.pSpkBio{
    padding-left: 50px;
}
.faqText li{
    margin-top:8px;
}
.faqText a{
    text-decoration: underline;
}
.regBox input::placeholder{
    font-weight: 300;
    font-size: 0.5em;
}
.participaintRow{
    font-size: 18px;
    margin-top: 22px;
    color: #4A4A49;
    font-weight: 300;
    line-height: 26px;
}
.participaintRow .oSessionTitle{
    cursor: inherit;
}
.participaintRow ul, .oTrack ul{
    margin-top: 22px;
}
.participaintRow ul li, .oTrack ul li{
    padding-left:38px;
    position: relative;
}
.participaintRow ul li:before, .oTrack  ul li:before{
    position: absolute;
    content: '';
    width: 4px;
    height: 4px;
    background-color: #878787;
    border-radius: 50%;
    left: 22px;
    top: 10px;
}

.participaintRow p, .oTrack p{
    margin-top:24px;
    color:#878787;
    font-weight: 350;
    font-size: 21px;
    line-height: 26px;

}
.oTrack li{
    font-weight: 350;
    font-size: 21px;
    line-height: 26px;
    margin-top:12px;
    padding-left: 32px;
}
.oTrack .regSubmit{
    display: block;
}
.oTrack .oSessionTitle {
    text-transform: uppercase;

}
.participaintRow .regSubmit{
    display: block;
}
.participaintRow a{
    text-decoration: underline;
}
.participaintRow a.regSubmit{
    text-decoration: none;
}
#participantsPage .oTrack.impotant{
   padding: 32px 28px;
    color: #878787;
}


.menu.vtoroe{
    position: absolute;
    bottom:57px;
    left: 60%;
}
.vtoroe .menuItem{
    margin-bottom: 16px;
}
.vtoroe .menuItemBox{
    background-color:#E39A3F;
}
.vtoroe .menuItemText{
    color:white;

}
.vtoroe .menuItem:hover .menuItemText{
    color:#F1CCA7;

}
.participaintRowHead{
    background: #E0E0E0;
    padding: 16px 20px;
    font-weight: 500;
    font-size: 21px;
    line-height: 28px;
    margin-top: 48px;
}
.participaintRow a.inline{
    padding:  2px 8px;
    background-color: #F1CCA7;
    text-decoration: none;
}
.participaintRowBodySubTitle{
    text-transform: uppercase;
    padding-left: 36px;
}
.participaintRowTextUp{
    text-transform: uppercase;

}
.regSubmit.yellow{
    background: #E39A4F;
}

.w630{
    width: 630px;
}
.participaintRowContent {
    padding-left : 36px;
}
.participaintRowImpotant{
    padding: 28px 32px;
    background-color: #F8DEE1;
}
.reqMenu{
    flex-wrap: wrap;
}
.regMenuItem {
    width: max-content;
    margin-right: 28px;
    margin-top:28px;
    padding: 12px 16px;
    background-color: #F1CCA7;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    cursor: pointer;
    color: #4A4A49;
    display: block;
    text-decoration: none;
}

#mobileMenu{
    display: none;
}
.mobileMenuVisible{
    display: none;
}
.prcLoaderWr{
    width: 100vw;
    height: 100vh;
}
.prcLoader{
    width: 100px;
}
.prcLoaderWr svg{
    width: 100%;
    height: auto;
}
.persHead, .persFooter{
    height: 134px;
    background:linear-gradient(to bottom, #263379,#49569c);
    position: relative;

}
.persHead:before, .persFooter:before{
    content: '';
    position: absolute;
    top: 0;
    background-position: top;
    height: 40%;
    background-repeat: no-repeat;
    right: 0;
    width: 332px;
    background-image: url('/static/images/personalHeadBg.svg');
}
.svg100 svg{
    width: 100%;
    height: auto;
}
.persHeadRow{

    margin: 0px 120px;
    width: 100%;
}
.persHeadLogo{
    width: 40px;
    cursor: pointer;
}

.persHeadText{
    margin-left:12px;
    font-weight: 300;
    color:#FFFFFF;
    text-transform: uppercase;
}

.upBtn{
    width: 56px;
    height: 56px;
    position: fixed;
    bottom: 50%;
    right: 32px;
    background: #e39a3f;
    border:1px solid #bb3e3f;
    display: none;
    cursor: pointer;
    padding: 4px;
    opacity: 1;
    transition: opacity 2s ease;
    z-index: 1;
}
.upBtn.active{
    display: block;
    opacity: 1;
}
.upBtn svg{
    transform: rotate(-90deg);
    width: calc(100%);
    height: calc(100%);;
}
.persMenuExit{
    cursor: pointer;
    margin-left: 16px;
}
.persMenuFio{
    font-size: 21px;
    line-height: 26px;
    /* identical to box height, or 124% */
    font-weight: 400;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 16px;
}
.persBody{
    min-height: calc(100vh - 134px);
}
.persBodyL{
    box-sizing: border-box;
    width: 400px;
    border-right: 2px solid #D9D9D9;
    margin: 56px 0;
    padding-right: 40px;
}
.persBodyR{
    box-sizing: border-box;
    width: calc(100% - 400px);
    padding: 56px 100px;
    max-height: calc(100vh - 134px);
    overflow-y: scroll;
}
.wordWrap{
    white-space: break-spaces;
}
.persNavItem{
    margin-bottom: 8px;
    width: 244px;
    padding: 16px 12px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */

    text-transform: uppercase;
    cursor: pointer;
    color: #4A4A49;
}
.persNavItem.active, .persNavItem:hover{
    background: rgba(224, 224, 224, 0.6);
}
.persNav{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
}
.pBtnChange{
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    background: #BB3E3F;
    margin-top:12px;
    display: block;
}
.changeSuccess{
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 300;
    color:#4A4A49;
}
.partSelectFormItem{
    font-weight: 500;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;

    color: #4A4A49;
    padding: 12px 16px;
    width: 268px;
    border:1px solid #E39A4F88;
    text-align: center;
    cursor: pointer;
}
.partSelectFormItem.active{
    background: #E39A4F88;
}
.personalFeedback{
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
    font-size: 18px;
    resize: none;
    height: 9em;
    font-family: 'Stem';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;

}
.feedBackUploadBtn{
    background-color: #E39A3F;
    color: #FFFFFF;
    text-transform: uppercase;
    cursor: pointer;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    padding: 8px 12px;
}
.feedBackUpload{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.feedBackFileLoading{
    width: 18px;
    height: 18px;
    margin-left: 8px;
}
.feedBackFile{
    margin-bottom: 8px;
}
.participaintDocTitle{
    font-weight: 500;
    font-size: 21px;
    line-height: 26px;
    /* identical to box height */
    color: #4A4A49;
}
.participaintDocBtn{
    padding: 12px 56px;
    color:#FFFFFF;
    background-color: #BB3E3F;
    cursor: pointer;
    display: block;
    text-decoration: none !important;

}
.participaintDocBtn:hover{
    color:#F1CCA7;
}
.participaintDocsItem{
    padding: 36px 0;
}
.participaintDocsItem:not(:last-child){
    border-bottom: 1px solid #D9D9D9;
}



@media all and (max-width: 1700px){

    .mainImg2Wr .menuItem:last-child{
        position: absolute;
        top: 40px;
        left: 338px;
    }
}
@media all and (max-width: 1600px){
    .mainImg2Wr h2.desktop {
        position: absolute;
        bottom: 66px;
        left: 41px;
        right: inherit;
        top: inherit;
        color: #FFFFFF;
        padding-left: 48px;
    }

    .

}








